cl_bootnode_privkey: "0000000000000000000000000000000000000000000000000000000000000000"

cl_bootnode_set_facts: true

cl_bootnode_container_name: "cl-bootnode"
cl_bootnode_container_image: "ethpandaops/bootnodoor:v0.0.1"
cl_bootnode_container_env: {}
cl_bootnode_p2p_port: 9010
cl_bootnode_api_port: 8002
cl_bootnode_datadir: "/data/cl-bootnode"
cl_bootnode_webui_port: 8080

cl_bootnode_container_ports:
  - "{{ cl_bootnode_p2p_port }}:{{ cl_bootnode_p2p_port }}"
  - "127.0.0.1:{{ cl_bootnode_api_port }}:{{ cl_bootnode_api_port }}"
  - "{{ cl_bootnode_p2p_port }}:{{ cl_bootnode_p2p_port }}/udp"
  - "{{ cl_bootnode_webui_port}}:{{ cl_bootnode_webui_port }}"
cl_bootnode_container_volumes:
  - "{{ cl_bootnode_datadir }}:/data"

cl_bootnode_cl_config: "/network-config/config.yaml"

cl_bootnode_validators_root: ""

cl_bootnode_container_stop_timeout: "30"
cl_bootnode_container_networks: []
cl_bootnode_container_command:
  - --cl-config {{ cl_bootnode_cl_config }}
  - --genesis-validators-root {{ cl_bootnode_validators_root }}
  - --private-key {{ cl_bootnode_privkey }}
  - --bind-port {{ cl_bootnode_api_port }}
  - --enr-ip {{ ansible_host }}
  - --enr-port {{ cl_bootnode_p2p_port }}
  - --nodedb /data/localnode.db
  - --web-ui
  - --web-port {{ cl_bootnode_webui_port }}
