ethereum_node_fact_discovery_el: true
ethereum_node_fact_discovery_cl: true

# How to find the EL node key on the target system
ethereum_node_fact_discovery_el_key_cmd:
  besu: cat {{ besu_datadir | default('/data/besu') }}/key | cut -d 'x' -f2
  geth: cat {{ geth_datadir | default('/data/geth') }}/geth/nodekey
  erigon: cat {{ erigon_datadir | default('/data/erigon') }}/nodekey
  nethermind: xxd -p -c32 {{ nethermind_datadir | default('/data/nethermind') }}/keystore/node.key.plain
  reth: cat {{ reth_datadir | default('/data/reth') }}/discovery-secret
  nimbusel: cat {{ nimbusel_datadir | default('/data/nimbusel') }}/nodekey | cut -d 'x' -f2
  ethrex: xxd -p -c32 {{ ethrex_datadir | default('/data/ethrex') }}/node.key

# How to find the EL enode on the target system
ethereum_node_fact_discovery_el_enode_cmd:
  ethereumjs: cat /data/ethereumjs/mainnet/rlpx
  # ethereumjs: cat /data/ethereumjs/genesis/rlpx # On a private testnet

# How to find the CL data
ethereum_node_fact_discovery_cl_uri: http://localhost:5052/eth/v1/node/identity

# Retry attempts CL
ethereum_node_fact_discovery_cl_retries: 25
ethereum_node_fact_discovery_cl_delay: 5

# Retry attempts EL
ethereum_node_fact_discovery_el_retries: 25
ethereum_node_fact_discovery_el_delay: 5
