- name: Add lighthouse user
  ansible.builtin.user:
    name: "{{ lighthouse_user }}"
  register: lighthouse_user_meta

- name: Configure lighthouse beacon client
  when: lighthouse_enabled
  block:
    - name: Create data dir
      ansible.builtin.file:
        path: "{{ lighthouse_datadir }}"
        state: directory
        mode: "0750"
        owner: "{{ lighthouse_user }}"
        group: "{{ lighthouse_user }}"

    - name: Set permissions
      ansible.builtin.command: "chown -R {{ lighthouse_user }}:{{ lighthouse_user }} {{ lighthouse_datadir }}" # noqa no-free-form
      failed_when: false
      changed_when: false

    - name: Run lighthouse container
      community.docker.docker_container:
        name: "{{ lighthouse_container_name }}"
        image: "{{ lighthouse_container_image }}"
        image_name_mismatch: recreate
        state: started
        restart_policy: always
        stop_timeout: "{{ lighthouse_container_stop_timeout }}"
        ports: "{{ lighthouse_container_ports }}"
        volumes: "{{ lighthouse_container_volumes }}"
        env: "{{ lighthouse_container_env }}"
        networks: "{{ lighthouse_container_networks }}"
        entrypoint: "{{ lighthouse_container_entrypoint | default(omit) }}"
        command: >-
          {{
            lighthouse_container_command +
            lighthouse_container_command_extra_args +
            (lighthouse_checkpoint_sync_enabled | ternary(lighthouse_container_command_checkpoint_args, [])) +
            (lighthouse_mev_boost_enabled | ternary(lighthouse_mev_boost_beacon_command, []))
          }}
        user: "{{ lighthouse_user_meta.uid }}"
        pull: "{{ lighthouse_container_pull | bool }}"
        security_opts: "{{ lighthouse_container_security_opts }}"
        memory: "{{ lighthouse_container_memory | default(omit) }}"
        memory_reservation: "{{ lighthouse_container_memory_reservation | default(omit) }}"
        memory_swap: "{{ lighthouse_container_memory_swap | default(omit) }}"
        memory_swappiness: "{{ lighthouse_container_memory_swappiness | default(omit) }}"
        kernel_memory: "{{ lighthouse_container_kernel_memory | default(omit) }}"
        cpus: "{{ lighthouse_container_cpus | default(omit) }}"
        cpuset_cpus: "{{ lighthouse_container_cpuset_cpus | default(omit) }}"
        cpuset_mems: "{{ lighthouse_container_cpuset_mems | default(omit) }}"
        cpu_shares: "{{ lighthouse_container_cpu_shares | default(omit) }}"
        cpu_quota: "{{ lighthouse_container_cpu_quota | default(omit) }}"
        cpu_period: "{{ lighthouse_container_cpu_period | default(omit) }}"


- name: Configure lighthouse validator client
  when: lighthouse_validator_enabled
  block:
    - name: Create validator data dir
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: "0750"
        owner: "{{ lighthouse_user }}"
        group: "{{ lighthouse_user }}"
      loop:
        - "{{ lighthouse_validator_datadir }}"
        - "{{ lighthouse_validator_datadir }}/keys"
        - "{{ lighthouse_validator_datadir }}/secrets"

    - name: Set permissions for validator data dir
      ansible.builtin.command: "chown -R {{ lighthouse_user }}:{{ lighthouse_user }} {{ lighthouse_validator_datadir }}" # noqa no-free-form
      failed_when: false
      changed_when: false

    - name: Run lighthouse validator container
      community.docker.docker_container:
        name: "{{ lighthouse_validator_container_name }}"
        image: "{{ lighthouse_validator_container_image }}"
        image_name_mismatch: recreate
        state: started
        restart_policy: always
        stop_timeout: "{{ lighthouse_validator_container_stop_timeout }}"
        ports: "{{ lighthouse_validator_container_ports }}"
        volumes: "{{ lighthouse_validator_container_volumes }}"
        env: "{{ lighthouse_validator_container_env }}"
        networks: "{{ lighthouse_validator_container_networks }}"
        entrypoint: "{{ lighthouse_validator_container_entrypoint | default(omit) }}"
        command: >-
          {{
            lighthouse_validator_container_command +
            lighthouse_validator_container_command_extra_args +
            (lighthouse_mev_boost_enabled | ternary(lighthouse_mev_boost_validator_command, []))
          }}
        user: "{{ lighthouse_user_meta.uid }}"
        pull: "{{ lighthouse_container_pull | bool }}"
        security_opts: "{{ lighthouse_validator_container_security_opts }}"
        memory: "{{ lighthouse_validator_container_memory | default(omit) }}"
        memory_reservation: "{{ lighthouse_validator_container_memory_reservation | default(omit) }}"
        memory_swap: "{{ lighthouse_validator_container_memory_swap | default(omit) }}"
        memory_swappiness: "{{ lighthouse_validator_container_memory_swappiness | default(omit) }}"
        kernel_memory: "{{ lighthouse_validator_container_kernel_memory | default(omit) }}"
        cpus: "{{ lighthouse_validator_container_cpus | default(omit) }}"
        cpuset_cpus: "{{ lighthouse_validator_container_cpuset_cpus | default(omit) }}"
        cpuset_mems: "{{ lighthouse_validator_container_cpuset_mems | default(omit) }}"
        cpu_shares: "{{ lighthouse_validator_container_cpu_shares | default(omit) }}"
        cpu_quota: "{{ lighthouse_validator_container_cpu_quota | default(omit) }}"
        cpu_period: "{{ lighthouse_validator_container_cpu_period | default(omit) }}"
