- name: Add blobber user
  ansible.builtin.user:
    name: "{{ blobber_user }}"
  register: blobber_user_meta

- name: Create blobber dirs
  ansible.builtin.file:
    path: "{{ blobber_datadir }}"
    state: directory
    mode: '0777'
    owner: "{{ blobber_user }}"
    group: "{{ blobber_user }}"

- name: Create validator keys data dir
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0750"
    owner: "{{ blobber_user }}"
    group: "{{ blobber_user }}"
  loop:
    - "{{ blobber_validator_remote_key_folder }}"
    - "{{ blobber_validator_remote_key_folder }}/keys"
    - "{{ blobber_validator_remote_key_folder }}/secrets"

- name: Copy keys
  ansible.posix.synchronize:
    src: "{{ blobber_validator_local_key_folder }}/keys"
    dest: "{{ blobber_validator_remote_key_folder }}"

- name: Copy keys
  ansible.posix.synchronize:
    src: "{{ blobber_validator_local_key_folder }}/secrets"
    dest: "{{ blobber_validator_remote_key_folder }}"

- name: Set permissions for blobber director
  ansible.builtin.command: "chown -R {{ blobber_user }}:{{ blobber_user }} {{ blobber_validator_remote_key_folder }}" # noqa no-free-form
  changed_when: false

- name: Run blobber container
  community.docker.docker_container:
    name: "{{ blobber_container_name }}"
    image: "{{ blobber_container_image }}"
    image_name_mismatch: recreate
    state: started
    restart_policy: always
    volumes: "{{ blobber_container_volumes }}"
    env: "{{ blobber_container_env }}"
    networks: "{{ blobber_container_networks }}"
    ports: "{{ blobber_container_ports }}"
    command: "{{ blobber_container_command + blobber_container_command_extra_args }} "
    user: "{{ blobber_user_meta.uid }}"
    pull: "{{ blobber_container_pull | bool }}"
