- name: Converge
  hosts: all
  become: true
  pre_tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 3600
  roles:
    - role: geerlingguy.docker
    - role: geerlingguy.pip
      pip_install_packages:
        - name: docker
    - role: ethereum_node
