#!/bin/bash
set -euo pipefail

NETWORK="{{ snapshot_fetcher_network }}"
CLIENT="{{ snapshot_fetcher_client }}"
DATA_DIR="{{ snapshot_data_dir }}"
BLOCK="{{ block_number }}"
BASE_URL="{{ snapshot_base_url }}"

# Set tmux window title
printf '\033]2;%s\033\\' "Snapshot: $NETWORK-$CLIENT"

echo "=== Snapshot Download Started ==="
echo "Network: $NETWORK"
echo "Client: $CLIENT"
echo "Target Block: $BLOCK"
echo "================================"

# Get block info
echo "Fetching snapshot info for $NETWORK $CLIENT at block $BLOCK..."
BLOCK_INFO=$(curl -s "$BASE_URL/$NETWORK/$CLIENT/$BLOCK/_snapshot_eth_getBlockByNumber.json")
BLOCK_NUMBER=$(echo "$BLOCK_INFO" | jq -r '.result.number')
CLIENT_VERSION=$(curl -s "$BASE_URL/$NETWORK/$CLIENT/$BLOCK/_snapshot_web3_clientVersion.json" | jq -r '.result')

echo "Snapshot info:"
echo "Block: $BLOCK_NUMBER"
echo "Client: $CLIENT_VERSION"

# Download and extract
echo "Starting snapshot download container..."

# Only run the snapshot download once. You have to manually remove the file if you want to run it again.
if [ ! -f "$DATA_DIR/.snapshot_fetcher_started" ]; then
  docker run -d --name snapshot_fetcher \
    -v $DATA_DIR:/data \
    --entrypoint "/bin/sh" \
    docker.ethquokkaops.io/dh/library/alpine -c "apk add --no-cache curl tar zstd && \
    curl -L --http1.1 --fail --retry 3 --retry-delay 10 $BASE_URL/$NETWORK/$CLIENT/$BLOCK/snapshot.tar.zst | \
    tar -I zstd -xvf - -C /data"
  touch $DATA_DIR/.snapshot_fetcher_started
  echo "================================================"
  echo "Snapshot downloading to $DATA_DIR"
  echo "================================================"
  echo "Use 'docker logs -f snapshot_fetcher' to follow the progress"

else
  echo "Snapshot download container did already run. Skipping..."
fi
