lighthouse_user: lighthouse
lighthouse_datadir: /data/lighthouse
lighthouse_auth_jwt_path: /data/execution-auth.secret
lighthouse_execution_engine_endpoint: http://geth:8551
lighthouse_announced_ip: "{{ ansible_host }}"

lighthouse_cleanup: false # when set to "true" it will remove the container(s)

lighthouse_ports_p2p_tcp: 9000
lighthouse_ports_p2p_udp: 9000
lighthouse_ports_http_beacon: 5052
lighthouse_ports_metrics: 5054

lighthouse_validator_enabled: false
lighthouse_validator_fee_recipient: "0xF29Ff96aaEa6C9A1fBa851f74737f3c069d4f1a9" # theprotocolguild.eth
lighthouse_validator_datadir: /data/lighthouse-validator

################################################################################
##
## Beacon node container configuration
##
################################################################################
lighthouse_container_name: lighthouse
lighthouse_container_image: sigp/lighthouse:latest
lighthouse_container_env: {}
lighthouse_container_ports:
  - "127.0.0.1:{{ lighthouse_ports_http_beacon }}:{{ lighthouse_ports_http_beacon }}"
  - "{{ lighthouse_ports_p2p_tcp }}:{{ lighthouse_ports_p2p_tcp }}"
  - "{{ lighthouse_ports_p2p_udp }}:{{ lighthouse_ports_p2p_udp }}/udp"
lighthouse_container_volumes:
  - "{{ lighthouse_datadir }}:/data"
  - "{{ lighthouse_auth_jwt_path }}:/execution-auth.jwt:ro"
lighthouse_container_security_opts: []
lighthouse_container_stop_timeout: "300"
lighthouse_container_networks: []
lighthouse_container_command:
  - lighthouse
  - beacon_node
  - --datadir=/data
  - --disable-upnp
  - --disable-enr-auto-update
  - --enr-address={{ lighthouse_announced_ip }}
  - --enr-tcp-port={{ lighthouse_ports_p2p_tcp }}
  - --enr-udp-port={{ lighthouse_ports_p2p_udp }}
  - --listen-address=0.0.0.0
  - --port={{ lighthouse_ports_p2p_tcp }}
  - --discovery-port={{ lighthouse_ports_p2p_udp }}
  - --http
  - --http-address=0.0.0.0
  - --http-port={{ lighthouse_ports_http_beacon }}
  - --execution-jwt=/execution-auth.jwt
  - --execution-endpoint={{ lighthouse_execution_engine_endpoint }}
  - --metrics
  - --metrics-address=0.0.0.0
  - --metrics-allow-origin=*
  - --metrics-port={{ lighthouse_ports_metrics }}
lighthouse_container_command_extra_args: []

checkpoint_sync_url: https://beaconstate.ethstaker.cc
lighthouse_checkpoint_sync_enabled: false
lighthouse_container_command_checkpoint_args:
  - --checkpoint-sync-url={{ checkpoint_sync_url }}

################################################################################
##
## Validator container configuration
##
################################################################################
lighthouse_validator_container_name: "{{ lighthouse_container_name }}-validator"
lighthouse_validator_container_image: "{{ lighthouse_container_image }}"
lighthouse_validator_container_env: {}
lighthouse_validator_container_ports: []
lighthouse_validator_container_volumes:
  - "{{ lighthouse_validator_datadir }}:/validator-data"
lighthouse_validator_container_security_opts: []
lighthouse_validator_container_stop_timeout: "300"
lighthouse_validator_container_networks: []
lighthouse_validator_container_command:
  - lighthouse
  - validator_client
  - --validators-dir=/validator-data/keys
  - --secrets-dir=/validator-data/secrets
  - --beacon-nodes=http://{{ lighthouse_container_name }}:{{ lighthouse_ports_http_beacon }}
  - --init-slashing-protection
  - --suggested-fee-recipient={{ lighthouse_validator_fee_recipient }}
  - --metrics
  - --metrics-address=0.0.0.0
  - --metrics-allow-origin=*
  - --metrics-port={{ lighthouse_ports_metrics }}
lighthouse_validator_container_command_extra_args: []
  # - --http
  # - --http-port=5062
  # - --graffiti=hello-world

# Default image pull policy
lighthouse_container_pull: false
