- name: Add teku user
  ansible.builtin.user:
    name: "{{ teku_user }}"
  register: teku_user_meta

- name: Create data dir
  ansible.builtin.file:
    path: "{{ teku_datadir }}"
    state: directory
    mode: "0750"
    owner: "{{ teku_user }}"
    group: "{{ teku_user }}"

- name: Set permissions
  ansible.builtin.command: "chown -R {{ teku_user }}:{{ teku_user }} {{ teku_datadir }}" # noqa no-free-form
  changed_when: false

- name: Create validator data dir
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0750"
    owner: "{{ teku_user }}"
    group: "{{ teku_user }}"
  loop:
    - "{{ teku_validator_datadir }}"
    - "{{ teku_validator_datadir }}/keys"
    - "{{ teku_validator_datadir }}/secrets"
  when: teku_validator_enabled

- name: Set permissions for validator data dir
  ansible.builtin.command: "chown -R {{ teku_user }}:{{ teku_user }} {{ teku_validator_datadir }}" # noqa no-free-form
  changed_when: false
  when: teku_validator_enabled

- name: Run teku container
  when: teku_enabled
  community.docker.docker_container:
    name: "{{ teku_container_name }}"
    image: "{{ teku_container_image }}"
    image_name_mismatch: recreate
    state: started
    restart_policy: always
    stop_timeout: "{{ teku_container_stop_timeout }}"
    ports: "{{ teku_container_ports }}"
    volumes: "{{ teku_container_volumes + (teku_validator_enabled | ternary(teku_validator_container_volumes, [])) }}"
    env: "{{ teku_container_env }}"
    networks: "{{ teku_container_networks }}"
    entrypoint: "{{ teku_container_entrypoint | default(omit) }}"
    command: >-
      {{
        teku_container_command +
        (teku_validator_enabled | ternary(teku_validator_container_args +
          (teku_mev_boost_enabled | ternary(teku_mev_boost_beacon_command,[])),
        [])) +
        (teku_checkpoint_sync_enabled | ternary(
          teku_container_command_extra_args + teku_container_command_checkpoint_args,
          teku_container_command_extra_args
        ))
      }}
    user: "{{ teku_user_meta.uid }}"
    pull: "{{ teku_container_pull | bool }}"
    security_opts: "{{ teku_container_security_opts }}"

- name: Run teku validator container
  when: teku_validator_enabled and (not teku_enabled)
  community.docker.docker_container:
    name: "{{ teku_validator_container_name }}"
    image: "{{ teku_validator_container_image }}"
    image_name_mismatch: recreate
    state: started
    restart_policy: always
    stop_timeout: "{{ teku_container_stop_timeout }}"
    ports: []
    volumes: "{{ teku_validator_container_volumes }}"
    env: "{{ teku_container_env }}"
    networks: "{{ teku_container_networks }}"
    entrypoint: "{{ teku_container_entrypoint | default(omit) }}"
    command: "{{ teku_validator_container_command }}"
    user: "{{ teku_user_meta.uid }}"
    pull: "{{ teku_container_pull | bool }}"
    security_opts: "{{ teku_container_security_opts }}"
