[Unit]
Description=Inject public IPv6 addresses into Docker containers
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStart=/usr/local/bin/docker-public-ipv6-injector.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
