ethrex_user: ethrex
ethrex_datadir: /data/ethrex
ethrex_auth_jwt_path: /data/execution-auth.secret
ethrex_announced_ip: "{{ ansible_host }}"
ethrex_announced_ipv6: "{{ ansible_default_ipv6.address if ethrex_ipv6_enabled and ansible_default_ipv6.address is defined else '' }}"

ethrex_cleanup: false # when set to "true" it will remove the container

ethrex_ports_p2p: 30303
ethrex_ports_http_rpc: 8545
ethrex_ports_engine: 8551
ethrex_ports_metrics: 6060

ethrex_ipv6_enabled: false

ethrex_container_name: ethrex
ethrex_container_image: ghcr.io/lambdaclass/ethrex:latest
ethrex_container_env: {}
ethrex_container_ports_ipv4:
  - "127.0.0.1:{{ ethrex_ports_http_rpc }}:{{ ethrex_ports_http_rpc }}"
  - "127.0.0.1:{{ ethrex_ports_engine }}:{{ ethrex_ports_engine }}"
  - "127.0.0.1:{{ ethrex_ports_metrics }}:{{ ethrex_ports_metrics }}"
  - "0.0.0.0:{{ ethrex_ports_p2p }}:{{ ethrex_ports_p2p }}"
  - "0.0.0.0:{{ ethrex_ports_p2p }}:{{ ethrex_ports_p2p }}/udp"

ethrex_container_ports_ipv6:
  - "[::]:{{ ethrex_ports_p2p }}:{{ ethrex_ports_p2p }}"
  - "[::]:{{ ethrex_ports_p2p }}:{{ ethrex_ports_p2p }}/udp"

ethrex_container_ports: >-
  {{ ethrex_container_ports_ipv4 + (ethrex_container_ports_ipv6 if ethrex_ipv6_enabled and ansible_default_ipv6.address is defined else []) }}

ethrex_container_volumes:
  - "{{ ethrex_datadir }}:/data"
  - "{{ ethrex_auth_jwt_path }}:/execution-auth.jwt:ro"
ethrex_container_security_opts: []
ethrex_container_stop_timeout: "300"
ethrex_container_networks: []
ethrex_container_command_default:
  - --datadir=/data
  - --p2p.port={{ ethrex_ports_p2p }}
  - --http.addr=0.0.0.0
  - --http.port={{ ethrex_ports_http_rpc }}
  - --authrpc.addr=0.0.0.0
  - --authrpc.port={{ ethrex_ports_engine }}
  - --authrpc.jwtsecret=/execution-auth.jwt
  - --metrics
  - --metrics.addr=0.0.0.0
  - --metrics.port={{ ethrex_ports_metrics }}
  - --p2p.addr=0.0.0.0

ethrex_container_command_v6: []

ethrex_container_command: >-
  {{ ethrex_container_command_default + (ethrex_container_command_v6 if ethrex_ipv6_enabled and ansible_default_ipv6.address is defined else []) }}

ethrex_container_command_extra_args: []

# Default image pull policy
ethrex_container_pull: false
