- name: Add ethereumjs user
  ansible.builtin.user:
    name: "{{ ethereumjs_user }}"
  register: ethereumjs_user_meta

- name: Create data dir
  ansible.builtin.file:
    path: "{{ ethereumjs_datadir }}"
    state: directory
    mode: "0750"
    owner: "{{ ethereumjs_user }}"
    group: "{{ ethereumjs_user }}"

- name: Set permissions
  ansible.builtin.command: "chown -R {{ ethereumjs_user }}:{{ ethereumjs_user }} {{ ethereumjs_datadir }}" # noqa no-free-form
  failed_when: false
  changed_when: false

- name: Run ethereumjs container
  community.docker.docker_container:
    name: "{{ ethereumjs_container_name }}"
    image: "{{ ethereumjs_container_image }}"
    image_name_mismatch: recreate
    state: started
    restart_policy: always
    stop_timeout: "{{ ethereumjs_container_stop_timeout }}"
    ports: "{{ ethereumjs_container_ports }}"
    volumes: "{{ ethereumjs_container_volumes }}"
    env: "{{ ethereumjs_container_env }}"
    networks: "{{ ethereumjs_container_networks }}"
    entrypoint: "{{ ethereumjs_container_entrypoint | default(omit) }}"
    command: "{{ ethereumjs_container_command + ethereumjs_container_command_extra_args }}"
    user: "{{ ethereumjs_user_meta.uid }}"
    pull: "{{ ethereumjs_container_pull | bool }}"
    security_opts: "{{ ethereumjs_container_security_opts }}"
    memory: "{{ ethereumjs_container_memory | default(omit) }}"
    memory_reservation: "{{ ethereumjs_container_memory_reservation | default(omit) }}"
    memory_swap: "{{ ethereumjs_container_memory_swap | default(omit) }}"
    memory_swappiness: "{{ ethereumjs_container_memory_swappiness | default(omit) }}"
    kernel_memory: "{{ ethereumjs_container_kernel_memory | default(omit) }}"
    cpus: "{{ ethereumjs_container_cpus | default(omit) }}"
    cpuset_cpus: "{{ ethereumjs_container_cpuset_cpus | default(omit) }}"
    cpuset_mems: "{{ ethereumjs_container_cpuset_mems | default(omit) }}"
    cpu_shares: "{{ ethereumjs_container_cpu_shares | default(omit) }}"
    cpu_quota: "{{ ethereumjs_container_cpu_quota | default(omit) }}"
    cpu_period: "{{ ethereumjs_container_cpu_period | default(omit) }}"
