cluster-init: {{ k3s_etcd_enabled }}
etcd-snapshot-schedule-cron: {{ k3s_etcd_snapshot_schedule_cron | quote }}
etcd-snapshot-retention: {{ k3s_etcd_snapshot_retention }}
etcd-s3: {{ k3s_etcd_snapshot_enabled }}
etcd-s3-endpoint: {{ k3s_etcd_snapshot_endpoint }}
etcd-s3-access-key: {{ k3s_etcd_snapshot_access_key }}
etcd-s3-secret-key: {{ k3s_etcd_snapshot_secret_key }}
etcd-s3-bucket: {{ k3s_etcd_snapshot_bucket }}
etcd-s3-skip-ssl-verify: {{ k3s_etcd_snapshot_skip_ssl_verify }}
etcd-s3-region: {{ k3s_etcd_snapshot_region }}
etcd-s3-folder: {{ k3s_etcd_snapshot_folder }}
etcd-s3-insecure: {{ k3s_etcd_snapshot_insecure }}
etcd-s3-timeout: {{ k3s_etcd_snapshot_timeout }}