version: '3'
{% if beaconchain_explorer_aio_networks is defined and beaconchain_explorer_aio_networks|length > 0 %}
networks:
{% for network in beaconchain_explorer_aio_networks %}
  {{ network }}:
    external: true
{% endfor %}
{% endif %}
services:
  #######################################################################
  #                              EXPLORER
  #######################################################################
  exporter:
    container_name: beaconchain_exporter
    image: "{{ beaconchain_explorer_aio_docker_image_exporter }}"
    user: "{{ beaconchain_explorer_aio_user_uid }}"
    stop_grace_period: 5m
    restart: always
    command: {{ beaconchain_explorer_aio_cmd_exporter | to_yaml }}
{%- if beaconchain_explorer_aio_networks is defined and beaconchain_explorer_aio_networks|length > 0 %}
    networks: {{ beaconchain_explorer_aio_networks | to_yaml }}
{%- endif %}
    volumes:
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - "{{ beaconchain_explorer_aio_installation_dir }}/explorer/config.yml:/config.yml:ro"
      - "{{ beaconchain_explorer_aio_installation_dir }}/explorer/custom_configs:/custom_configs:ro"
      - "{{ beaconchain_explorer_aio_data_dir_explorer }}:/data"
{% if beaconchain_explorer_aio_bigtable_external_enabled %}
      - "{{ beaconchain_explorer_aio_installation_dir }}/bigtable_secret.json:/bigtable_secret.json:ro"
{% endif %}
    environment:
      - INDEXER_ENABLED=true
{% if beaconchain_explorer_aio_bigtable_external_enabled %}
      - GOOGLE_APPLICATION_CREDENTIALS=/bigtable_secret.json
{% else %}
      - BIGTABLE_EMULATOR_HOST=beaconchain_bigtable:9000
{% endif %}
    ports:
      - 8082:8082
  #######################################################################
  eth1indexer:
    container_name: beaconchain_eth1indexer
    image: "{{ beaconchain_explorer_aio_docker_image_eth1indexer }}"
    user: "{{ beaconchain_explorer_aio_user_uid }}"
    stop_grace_period: 5m
    restart: always
    command: {{ beaconchain_explorer_aio_cmd_eth1indexer | to_yaml }}
{%- if beaconchain_explorer_aio_networks is defined and beaconchain_explorer_aio_networks|length > 0 %}
    networks: {{ beaconchain_explorer_aio_networks | to_yaml }}
{%- endif %}
    volumes:
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - "{{ beaconchain_explorer_aio_installation_dir }}/explorer/config.yml:/config.yml:ro"
      - "{{ beaconchain_explorer_aio_installation_dir }}/explorer/custom_configs:/custom_configs:ro"
      - "{{ beaconchain_explorer_aio_data_dir_explorer }}:/data"
{% if beaconchain_explorer_aio_bigtable_external_enabled %}
      - "{{ beaconchain_explorer_aio_installation_dir }}/bigtable_secret.json:/bigtable_secret.json:ro"
{% endif %}
    environment:
{% if beaconchain_explorer_aio_bigtable_external_enabled %}
      - GOOGLE_APPLICATION_CREDENTIALS=/bigtable_secret.json
{% else %}
      - BIGTABLE_EMULATOR_HOST=beaconchain_bigtable:9000
{% endif %}
  #######################################################################
  statistics:
    container_name: beaconchain_statistics
    image: "{{ beaconchain_explorer_aio_docker_image_statistics }}"
    user: "{{ beaconchain_explorer_aio_user_uid }}"
    stop_grace_period: 5m
    restart: always
    command: {{ beaconchain_explorer_aio_cmd_statistics | to_yaml }}
{%- if beaconchain_explorer_aio_networks is defined and beaconchain_explorer_aio_networks|length > 0 %}
    networks: {{ beaconchain_explorer_aio_networks | to_yaml }}
{%- endif %}
    volumes:
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - "{{ beaconchain_explorer_aio_installation_dir }}/explorer/config.yml:/config.yml:ro"
      - "{{ beaconchain_explorer_aio_installation_dir }}/explorer/custom_configs:/custom_configs:ro"
      - "{{ beaconchain_explorer_aio_data_dir_explorer }}:/data"
{% if beaconchain_explorer_aio_bigtable_external_enabled %}
      - "{{ beaconchain_explorer_aio_installation_dir }}/bigtable_secret.json:/bigtable_secret.json:ro"
{% endif %}
    environment:
      - INDEXER_ENABLED=false
{% if beaconchain_explorer_aio_bigtable_external_enabled %}
      - GOOGLE_APPLICATION_CREDENTIALS=/bigtable_secret.json
{% else %}
      - BIGTABLE_EMULATOR_HOST=beaconchain_bigtable:9000
{% endif %}
  #######################################################################
  frontend-updater:
    container_name: beaconchain_frontend_updater
    image: "{{ beaconchain_explorer_aio_docker_image_frontend_updater }}"
    user: "{{ beaconchain_explorer_aio_user_uid }}"
    stop_grace_period: 5m
    restart: always
    command: {{ beaconchain_explorer_aio_cmd_frontend_updater | to_yaml }}
{%- if beaconchain_explorer_aio_networks is defined and beaconchain_explorer_aio_networks|length > 0 %}
    networks: {{ beaconchain_explorer_aio_networks | to_yaml }}
{%- endif %}
    volumes:
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - "{{ beaconchain_explorer_aio_installation_dir }}/explorer/frontend_config.yml:/config.yml:ro"
      - "{{ beaconchain_explorer_aio_installation_dir }}/explorer/custom_configs:/custom_configs:ro"
      - "{{ beaconchain_explorer_aio_data_dir_explorer }}:/data"
{% if beaconchain_explorer_aio_bigtable_external_enabled %}
      - "{{ beaconchain_explorer_aio_installation_dir }}/bigtable_secret.json:/bigtable_secret.json:ro"
{% endif %}
    environment:
      - FRONTEND_ENABLED=true
{% if beaconchain_explorer_aio_bigtable_external_enabled %}
      - GOOGLE_APPLICATION_CREDENTIALS=/bigtable_secret.json
{% else %}
      - BIGTABLE_EMULATOR_HOST=beaconchain_bigtable:9000
{% endif %}

  #######################################################################
  frontend:
    container_name: beaconchain_frontend
    image: "{{ beaconchain_explorer_aio_docker_image_frontend }}"
    user: "{{ beaconchain_explorer_aio_user_uid }}"
    stop_grace_period: 5m
    restart: always
    command: {{ beaconchain_explorer_aio_cmd_frontend | to_yaml }}
{%- if beaconchain_explorer_aio_networks is defined and beaconchain_explorer_aio_networks|length > 0 %}
    networks: {{ beaconchain_explorer_aio_networks | to_yaml }}
{%- endif %}
    volumes:
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - "{{ beaconchain_explorer_aio_installation_dir }}/explorer/frontend_config.yml:/config.yml:ro"
      - "{{ beaconchain_explorer_aio_installation_dir }}/explorer/custom_configs:/custom_configs:ro"
      - "{{ beaconchain_explorer_aio_data_dir_explorer }}:/data"
{% if beaconchain_explorer_aio_bigtable_external_enabled %}
      - "{{ beaconchain_explorer_aio_installation_dir }}/bigtable_secret.json:/bigtable_secret.json:ro"
{% endif %}
    ports:
      - 8080:8080
    environment:
      - FRONTEND_ENABLED=true
{% if beaconchain_explorer_aio_bigtable_external_enabled %}
      - GOOGLE_APPLICATION_CREDENTIALS=/bigtable_secret.json
{% else %}
      - BIGTABLE_EMULATOR_HOST=beaconchain_bigtable:9000
{% endif %}
  #######################################################################
  #                              DATABASES
  #######################################################################
  redis:
    container_name: beaconchain_redis
    image: "{{ beaconchain_explorer_aio_docker_image_redis }}"
    user: "{{ beaconchain_explorer_aio_user_uid }}"
    stop_grace_period: 5m
    restart: always
{% if beaconchain_explorer_aio_networks is defined and beaconchain_explorer_aio_networks|length > 0 %}
    networks: {{ beaconchain_explorer_aio_networks | to_yaml }}
{%- endif %}
    volumes:
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - "{{ beaconchain_explorer_aio_data_dir_redis }}:/data"
  #######################################################################
  postgres:
    container_name: beaconchain_postgres
    image: "{{ beaconchain_explorer_aio_docker_image_postgres }}"
    user: "{{ beaconchain_explorer_aio_user_uid }}"
    stop_grace_period: 5m
    restart: always
{% if beaconchain_explorer_aio_networks is defined and beaconchain_explorer_aio_networks|length > 0 %}
    networks: {{ beaconchain_explorer_aio_networks | to_yaml }}
{%- endif %}
    environment:
      - POSTGRES_PASSWORD=pass
      - POSTGRES_USER=postgres
      - POSTGRES_DB=db
      - PGDATA=/var/lib/postgresql/data
    volumes:
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - "{{ beaconchain_explorer_aio_installation_dir }}/postgres/tables.sql:/docker-entrypoint-initdb.d/init.sql"
      - "{{ beaconchain_explorer_aio_data_dir_postgres }}:/var/lib/postgresql/data"
  #######################################################################
{% if not beaconchain_explorer_aio_bigtable_external_enabled %}
  bigtable:
    container_name: beaconchain_bigtable
    image: "{{ beaconchain_explorer_aio_docker_image_bigtable }}"
    user: "{{ beaconchain_explorer_aio_user_uid }}"
    stop_grace_period: 5m
    restart: always
{% if beaconchain_explorer_aio_networks is defined and beaconchain_explorer_aio_networks|length > 0 %}
    networks: {{ beaconchain_explorer_aio_networks | to_yaml }}
{%- endif %}
    entrypoint:
      - little_bigtable
    command:
      - -db-file=/data/db
      - -host=0.0.0.0
      - -port=9000
    volumes:
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - "{{ beaconchain_explorer_aio_installation_dir }}/bigtable/init-bigtable.sh:/init-bigtable.sh"
      - "{{ beaconchain_explorer_aio_installation_dir }}/bigtable/cbt-definitions.yml:/cbt-definitions.yml"
      - "{{ beaconchain_explorer_aio_installation_dir }}/bigtable/eth1.proto:/eth1.proto"
      - "{{ beaconchain_explorer_aio_data_dir_bigtable }}:/data"
{% endif %}
