# {{ ansible_managed }}

network: {{ ethereum_network_name | replace(devnet_name + "-", '') }}
chainId: {{ ethereum_genesis_chain_id }}

domain: {{ network_subdomain }}

config:
  enabled: true
  files:
    # Support all files as they appear in the github repo
    - path: /metadata/besu.json
      upstream: raw.githubusercontent.com
      target: /ethpandaops/{{ devnet_name }}-devnets/master/network-configs/{{ ethereum_network_name | replace(devnet_name + "-", '') }}/metadata/besu.json
    - path: /metadata/bootstrap_nodes.txt
      upstream: raw.githubusercontent.com
      target: /ethpandaops/{{ devnet_name }}-devnets/master/network-configs/{{ ethereum_network_name | replace(devnet_name + "-", '') }}/metadata/bootstrap_nodes.txt
    - path: /metadata/chainspec.json
      upstream: raw.githubusercontent.com
      target: /ethpandaops/{{ devnet_name }}-devnets/master/network-configs/{{ ethereum_network_name | replace(devnet_name + "-", '') }}/metadata/chainspec.json
    - path: /metadata/config.yaml
      upstream: raw.githubusercontent.com
      target: /ethpandaops/{{ devnet_name }}-devnets/master/network-configs/{{ ethereum_network_name | replace(devnet_name + "-", '') }}/metadata/config.yaml
    - path: /metadata/deposit_contract.txt
      upstream: raw.githubusercontent.com
      target: /ethpandaops/{{ devnet_name }}-devnets/master/network-configs/{{ ethereum_network_name | replace(devnet_name + "-", '') }}/metadata/deposit_contract.txt
    - path: /metadata/deposit_contract_block.txt
      upstream: raw.githubusercontent.com
      target: /ethpandaops/{{ devnet_name }}-devnets/master/network-configs/{{ ethereum_network_name | replace(devnet_name + "-", '') }}/metadata/deposit_contract_block.txt
    - path: /metadata/deposit_contract_block_hash.txt
      upstream: raw.githubusercontent.com
      target: /ethpandaops/{{ devnet_name }}-devnets/master/network-configs/{{ ethereum_network_name | replace(devnet_name + "-", '') }}/metadata/deposit_contract_block_hash.txt
    - path: /metadata/genesis.json
      upstream: raw.githubusercontent.com
      target: /ethpandaops/{{ devnet_name }}-devnets/master/network-configs/{{ ethereum_network_name | replace(devnet_name + "-", '') }}/metadata/genesis.json
    - path: /metadata/genesis.ssz
      upstream: raw.githubusercontent.com
      target: /ethpandaops/{{ devnet_name }}-devnets/master/network-configs/{{ ethereum_network_name | replace(devnet_name + "-", '') }}/metadata/genesis.ssz
    - path: /parsed/parsedConsensusGenesis.json
      upstream: raw.githubusercontent.com
      target: /ethpandaops/{{ devnet_name }}-devnets/master/network-configs/{{ ethereum_network_name | replace(devnet_name + "-", '') }}/parsed/parsedConsensusGenesis.json

    # Execution Layer specific redirects
    - path: /el/enodes.txt
      upstream: raw.githubusercontent.com
      target: /ethpandaops/{{ devnet_name }}-devnets/master/network-configs/{{ ethereum_network_name | replace(devnet_name + "-", '') }}/metadata/enodes.txt
    - path: /el/besu.json
      upstream: raw.githubusercontent.com
      target: /ethpandaops/{{ devnet_name }}-devnets/master/network-configs/{{ ethereum_network_name | replace(devnet_name + "-", '') }}/metadata/besu.json
    - path: /el/chainspec.json
      upstream: raw.githubusercontent.com
      target: /ethpandaops/{{ devnet_name }}-devnets/master/network-configs/{{ ethereum_network_name | replace(devnet_name + "-", '') }}/metadata/chainspec.json
    - path: /el/genesis.json
      upstream: raw.githubusercontent.com
      target: /ethpandaops/{{ devnet_name }}-devnets/master/network-configs/{{ ethereum_network_name | replace(devnet_name + "-", '') }}/metadata/genesis.json

    # Consensus Layer specific redirects
    - path: /cl/bootstrap_nodes.txt
      upstream: raw.githubusercontent.com
      target: /ethpandaops/{{ devnet_name }}-devnets/master/network-configs/{{ ethereum_network_name | replace(devnet_name + "-", '') }}/metadata/bootstrap_nodes.txt
    - path: /cl/config.yaml
      upstream: raw.githubusercontent.com
      target: /ethpandaops/{{ devnet_name }}-devnets/master/network-configs/{{ ethereum_network_name | replace(devnet_name + "-", '') }}/metadata/config.yaml
    - path: /cl/genesis.ssz
      upstream: raw.githubusercontent.com
      target: /ethpandaops/{{ devnet_name }}-devnets/master/network-configs/{{ ethereum_network_name | replace(devnet_name + "-", '') }}/metadata/genesis.ssz
    - path: /cl/deposit_contract.txt
      upstream: raw.githubusercontent.com
      target: /ethpandaops/{{ devnet_name }}-devnets/master/network-configs/{{ ethereum_network_name | replace(devnet_name + "-", '') }}/metadata/deposit_contract.txt
    - path: /cl/deposit_contract_block.txt
      upstream: raw.githubusercontent.com
      target: /ethpandaops/{{ devnet_name }}-devnets/master/network-configs/{{ ethereum_network_name | replace(devnet_name + "-", '') }}/metadata/deposit_contract_block.txt
    - path: /cl/deposit_contract_block_hash.txt
      upstream: raw.githubusercontent.com
      target: /ethpandaops/{{ devnet_name }}-devnets/master/network-configs/{{ ethereum_network_name | replace(devnet_name + "-", '') }}/metadata/deposit_contract_block_hash.txt

    # Ansible generated ethereum nodes inventory
    - path: /api/v1/nodes/inventory
      upstream: bootnode-1.{{ network_subdomain }}
      target: /meta/api/v1/inventory.json
    - path: /api/v1/nodes/validator-ranges
      upstream: bootnode-1.{{ network_subdomain }}
      target: /meta/api/v1/validator-ranges.json
