# {{ ansible_managed }}
# Execution layer endpoints

{% for host in (groups['ethereum_node'] + groups['bootnode']) | sort %}
- url: https://{{ ethereum_node_rpc_prefix }}{{ hostvars[host]['inventory_hostname'] }}.{{ network_server_subdomain }}
  name: {{ hostvars[host]['inventory_hostname'] }}
  authGroup: pandaops
  priority: -1
  archive: false
{% if gen_kubernetes_config_dora_execution_snooper_port %}
  engineSnooperUrl: http://{{ ethereum_node_rpc_prefix }}{{ hostvars[host]['inventory_hostname'] }}.{{ network_server_subdomain }}:{{ gen_kubernetes_config_dora_execution_snooper_port }}
{% endif %}
{% endfor %}
