# {{ ansible_managed }}

dora:
  fullnameOverride: dora
  image:
    repository: {{ default_tooling_images.dora.split(':') | first }}
    tag: {{ default_tooling_images.dora.split(':') | last }}
    pullPolicy: {% if "latest" in (default_tooling_images.dora.split(':') | last) %}Always{% else %}IfNotPresent{% endif %}

  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 1500m
      memory: 3Gi
  ingress:
    enabled: true
    className: ingress-nginx-public
    hosts:
      - host: dora.{{ network_subdomain }}
        paths:
          - path: /
            pathType: Prefix

  name: {{ ethereum_network_name }}
  configPath: "https://config.{{ network_subdomain }}/cl/config.yaml"
  validatorNamesInventory: "https://config.{{ network_subdomain }}/api/v1/nodes/validator-ranges"
  ethExplorerLink: "{{ gen_kubernetes_config_dora_frontend_explorer_link }}"
  publicRpcUrl: "{{ gen_kubernetes_config_dora_frontend_public_rpc }}"
  rainbowkitProjectId: "{{ gen_kubernetes_config_dora_frontend_rainbowkit_id }}"
  executionGenesisConfig: "{{ gen_kubernetes_config_dora_execution_genesis_config }}"
  apiRequireAuth: {{ gen_kubernetes_config_dora_api_require_auth }}
  apiAuthSecret: "<path:/secrets/services/services.enc.yaml#dora | jsonPath {.api_secret}>"
  apiWhitelistedIPs: {% if not gen_kubernetes_config_dora_api_whitelisted_ips %}[]
{% else %}
{% for ip in gen_kubernetes_config_dora_api_whitelisted_ips | sort %}
    - {{ ip }}
{% endfor %}
{% endif %}
  apiDefaultRateLimit: 60
  apiDisableDefaultRateLimit: false
  proxyCount: 2
  executionIndexerEnabled: {{ gen_kubernetes_config_dora_execution_indexer_enabled }}
  executionIndexerRetention: {{ gen_kubernetes_config_dora_execution_indexer_retention }}
  extraEnv:
    - name: FRONTEND_PPROF
      value: "true"
    - name: FRONTEND_SHOW_SENSITIVE_PEER_INFOS
      value: "true"
    - name: API_CORS_ORIGINS
      value: "*"
    - name: FRONTEND_ENABLE_DAS_GUARDIAN_MASS_SCAN
      value: "true"
  postgresql:
    name: "dora-postgresql"
    fullnameOverride: "dora-postgresql"
    persistence:
      size: "{{ gen_kubernetes_config_dora_postgres_size | default("50Gi") }}"

  mevRelays:
    - index: 0
      name: "Flashbots"
      url: "http://mev-relay-1.{{ network_subdomain }}:9062/"

  authGroups:
    pandaops:
      credentials:
        username: ""
        password: "<path:/secrets/services/services.enc.yaml#ethereum | jsonPath {.testnets.{{ devnet_name }}-devnets.node_ingress.combined}>"

{% if gen_kubernetes_config_dora_consensus_endpoints_url %}
  endpointsUrl: "{{ gen_kubernetes_config_dora_consensus_endpoints_url }}"
{% else %}
  endpoints:
  # Rpc
  - url: {{ default_cl_endpoint }}
    name: rpc-{{ gen_kubernetes_config_ethereum_node_name }}
    authGroup: pandaops
    archive: true
    priority: 1
{% for host in (groups['ethereum_node'] + groups['bootnode']) | sort %}
  - url: https://{{ ethereum_node_beacon_prefix }}{{ hostvars[host]['inventory_hostname'] }}.{{ network_server_subdomain }}
    name: {{ hostvars[host]['inventory_hostname'] }}
    authGroup: pandaops
    priority: -1
{% if 'lighthouse' in hostvars[host]['inventory_hostname'] %}
    archive: true
{% endif %}
{% endfor %}
{% endif %}
{% if gen_kubernetes_config_dora_execution_endpoints_url %}
  executionEndpointsUrl: "{{ gen_kubernetes_config_dora_execution_endpoints_url }}"
{% else %}
  executionEndpoints:
  # Rpc
  - url: {{ default_el_endpoint }}
    name: rpc-{{ gen_kubernetes_config_ethereum_node_name }}
    authGroup: pandaops
    archive: true
    priority: 1
{% for host in (groups['ethereum_node'] + groups['bootnode']) | sort %}
  - url: https://{{ ethereum_node_rpc_prefix }}{{ hostvars[host]['inventory_hostname'] }}.{{ network_server_subdomain }}
    name: {{ hostvars[host]['inventory_hostname'] }}
    authGroup: pandaops
    priority: -1
    archive: false
{% if gen_kubernetes_config_dora_execution_snooper_port %}
    engineSnooperUrl: http://{{ ethereum_node_rpc_prefix }}{{ hostvars[host]['inventory_hostname'] }}.{{ network_server_subdomain }}:{{ gen_kubernetes_config_dora_execution_snooper_port }}
{% endif %}
{% endfor %}
{% endif %}
