# {{ ansible_managed }}
# Consensus layer endpoints

{% for host in (groups['ethereum_node'] + groups['bootnode']) | sort %}
- url: https://{{ ethereum_node_beacon_prefix }}{{ hostvars[host]['inventory_hostname'] }}.{{ network_server_subdomain }}
  name: {{ hostvars[host]['inventory_hostname'] }}
  authGroup: pandaops
  priority: -1
{% if 'lighthouse' in hostvars[host]['inventory_hostname'] %}
  archive: true
{% endif %}
{% endfor %}

