# {{ ansible_managed }}

dugtrio:
  fullnameOverride: dugtrio
  image:
    repository: {{ default_tooling_images.dugtrio.split(':') | first }}
    tag: {{ default_tooling_images.dugtrio.split(':') | last }}
    pullPolicy: {% if "latest" in (default_tooling_images.dugtrio.split(':') | last) %}Always{% else %}IfNotPresent{% endif %}

  resources:
    requests:
      cpu: 100m
      memory: 200Mi
    limits:
      cpu: 500m
      memory: 1Gi
  ingress:
    enabled: true
    className: ingress-nginx-public
    hosts:
      - host: beacon.{{ network_subdomain }}
        paths:
          - path: /
            pathType: Prefix

  dugtrioFrontendTitle: "Dugtrio: {{ ethereum_network_name }}"
  dugtrioProxyCount: 2
  dugtrioProxyBlockedPaths:
    - "^/teku/v[0-9]+/admin/.*"

  endpoints:
  # Rpc
  - url: {{ default_cl_endpoint }}
    name: rpc-{{ gen_kubernetes_config_ethereum_node_name }}
{% for host in (groups['ethereum_node'] + groups['bootnode']) | sort %}
  - url: https://<path:/secrets/services/services.enc.yaml#ethereum | jsonPath {.testnets.{{ devnet_name }}-devnets.node_ingress.combined}>@bn.{{ hostvars[host]['inventory_hostname'] }}.{{ network_subdomain }}
    name: {{ hostvars[host]['inventory_hostname'] }}
{% endfor %}
