# {{ ansible_managed }}

forky:
  fullnameOverride: forky
  replicas: 1
  image:
    repository: {{ default_tooling_images.forky.split(':') | first }}
    tag: {{ default_tooling_images.forky.split(':') | last }}
    pullPolicy: {% if "latest" in (default_tooling_images.forky.split(':') | last) %}Always{% else %}IfNotPresent{% endif %}

  resources:
    requests:
      cpu: 256m
      memory: 512Mi
    limits:
      cpu: 1000m
      memory: 2Gi
  ingress:
    enabled: true
    className: ingress-nginx-public
    hosts:
      - host: forky.{{ network_subdomain }}
        paths:
          - path: /
            pathType: Prefix

  postgresql:
    enabled: true
    fullnameOverride: "forky-postgresql"
    auth:
      username: <path:/secrets/services/services.enc.yaml#forky | jsonPath {.postgres.devnets.username}>
      password: <path:/secrets/services/services.enc.yaml#forky | jsonPath {.postgres.devnets.password}>
    primary:
      persistence:
        enabled: true
        size: 20Gi
      resources:
        requests:
          cpu: 1000m
          memory: 2Gi
        limits:
          cpu: 2000m
          memory: 4Gi

  config:
    listen_addr: ":5555"
    pprof_addr: ":6060"
    log_level: "debug"
    metrics:
      addr: ":9090"
      enabled: true
    forky:
      retention_period: "24h"
      store:
        type: s3
        config:
          region: us-east-1
          bucket_name: {{ ethereum_network_name }}/forky
          endpoint: https://<path:/secrets/services/services.enc.yaml#cloudflare | jsonPath {.account_ids.ethdevops}>.r2.cloudflarestorage.com/ethpandaops-devnet-dumpster
          access_key: <path:/secrets/services/services.enc.yaml#cloudflare | jsonPath {.r2.devnets.access_key_id}>
          access_secret: <path:/secrets/services/services.enc.yaml#cloudflare | jsonPath {.r2.devnets.secret_access_key}>
      indexer: {}
      ethereum:
        network:
          name: "{{ ethereum_network_name }}"
          spec:
            seconds_per_slot: {{ (lookup('ansible.builtin.file', cl_config_path) | from_yaml).SECONDS_PER_SLOT }}
{% if (lookup('ansible.builtin.file', cl_config_path) | from_yaml).PRESET_BASE == "mainnet"%}
            slots_per_epoch: 32
{% else %}
            slots_per_epoch: 8
{% endif %}
            genesis_time: {{ (lookup('ansible.builtin.file', cl_config_path) | from_yaml).MIN_GENESIS_TIME + (lookup('ansible.builtin.file', cl_config_path)| from_yaml).GENESIS_DELAY }}
      sources:
{% for host in (groups['ethereum_node'] + groups['bootnode']) | sort %}
{% if ((hostvars[host]['inventory_hostname'] | string)[-2:]) == "-1" %}
        - name: {{ hostvars[host]['inventory_hostname'] }}
          type: "beacon_node"
          config:
            address: https://<path:/secrets/services/services.enc.yaml#ethereum | jsonPath {.testnets.{{ devnet_name }}-devnets.node_ingress.combined}>@bn.{{ hostvars[host]['inventory_hostname'] }}.{{ network_subdomain }}
            polling_interval: "12s"
{% endif %}
{% endfor %}
