# {{ ansible_managed }}

powfaucet:
  fullnameOverride: powfaucet

  image:
    repository: {{ default_tooling_images.powfaucet.split(':') | first }}
    tag: {{ default_tooling_images.powfaucet.split(':') | last}}
    pullPolicy: {% if "latest" in (default_tooling_images.powfaucet.split(':') | last) %}Always{% else %}IfNotPresent{% endif %}


  resources:
    requests:
      cpu: 200m
      memory: 500Mi
    limits:
      cpu: 400m
      memory: 1Gi

  ingress:
    enabled: true

    className: ingress-nginx-public

    hosts:
      - host: faucet.{{ network_subdomain }}
        paths:
          - path: /
            pathType: Prefix
  httpProxyCount: 2

  faucetTitle: "{{ ethereum_network_name }} PoW Faucet"
  faucetPrivkey: "<path:/secrets/services/services.enc.yaml#ethereum | jsonPath {.testnets.{{ devnet_name }}-devnets.faucet_private_key}>"
  faucetRpcUrl: "{{ default_el_endpoint }}"
  faucetExplorerLink: "https://explorer.{{ network_subdomain }}/tx/{txid}"
  faucetTxGasLimit: 100000

  faucetCaptchaEnabled: true
  faucetCaptchaSitekey: "<path:/secrets/services/services.enc.yaml#hcaptcha | jsonPath {.site_key}>"
  faucetCaptchaSecret: "<path:/secrets/services/services.enc.yaml#hcaptcha | jsonPath {.secret_key}>"

  faucetRecurringLimitsAmountWei: 500000000000000000000 # 500 ETH
  faucetPowEnabled: true
  faucetPowRewardPerHash: 1000000000000000000 # 1 ETH
