# {{ ansible_managed }}

spamoor:
  fullnameOverride: spamoor
  image:
    repository: {{ default_tooling_images.spamoor.split(':') | first }}
    tag: {{ default_tooling_images.spamoor.split(':') | last }}
    pullPolicy: {% if "latest" in (default_tooling_images.spamoor.split(':') | last) %}Always{% else %}IfNotPresent{% endif %}

  resources:
    requests:
      cpu: 250m
      memory: 500Mi
    limits:
      cpu: 2000m
      memory: 2Gi
  ingress:
    enabled: true
    className: ingress-nginx-public
{% if gen_kubernetes_config_pandamenu_enabled %}
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
      nginx.ingress.kubernetes.io/configuration-snippet: |
        sub_filter '</head>' '{{ gen_kubernetes_config_spamoor_pandamenu | default('') }}{{ gen_kubernetes_config_pandamenu_script }}</head>';
        sub_filter_types text/html;
        sub_filter_once off;
{% endif %}
    hosts:
      - host: spamoor.{{ network_subdomain }}
        paths:
          - path: /
            pathType: Prefix

{% set cl_config = lookup('ansible.builtin.file', cl_config_path) | from_yaml %}
{% if cl_config.FULU_FORK_EPOCH != 18446744073709551615 %}
{% set min_genesis_plus_delay = cl_config.MIN_GENESIS_TIME + cl_config.GENESIS_DELAY %}
  customArgs:
    - --fulu-activation={{
      (cl_config.PRESET_BASE == 'mainnet') | ternary(
        min_genesis_plus_delay + (32 * cl_config.SECONDS_PER_SLOT * cl_config.FULU_FORK_EPOCH),
        min_genesis_plus_delay + (8 * cl_config.SECONDS_PER_SLOT * cl_config.FULU_FORK_EPOCH)
      )
    }}
{% endif %}

  persistence:
    enabled: true

  privateKey: "<path:/secrets/services/services.enc.yaml#ethereum | jsonPath {.testnets.{{ devnet_name }}-devnets.spamoor_private_key}>"
  rpcEndpoints:
  # Rpc
  - "{{ default_el_endpoint }}"
{% for host in (groups['ethereum_node'] + groups['bootnode']) | sort %}
{% set host_name = hostvars[host]['inventory_hostname'] %}
{% set parts = host_name.split('-') %}
{% set groups_list = [] %}
{% if parts | length >= 4 %}
{% set _ = groups_list.append(parts[0]) %}
{% set _ = groups_list.append(parts[1]) %}
{% set _ = groups_list.append(parts[2]) %}
{% set _ = groups_list.append(parts[3]) %}
{% endif %}
{% if 'mev-relay' in host_name %}
{% set _ = groups_list.append('mev-relay') %}
{% endif %}
{% set _ = groups_list.append(host_name) %}
{% set separator = ' + ' if 'mev-relay' in host_name else '' %}
  - "group({{ groups_list | join(',') }})name({{ host_name }}){{separator}}https://<path:/secrets/services/services.enc.yaml#ethereum | jsonPath {.testnets.{{ devnet_name }}-devnets.node_ingress.combined}>@{{ ethereum_node_rpc_prefix }}{{ host_name }}.{{ network_server_subdomain }}"
{% endfor %}
