# {{ ansible_managed }}

syncoor-server:
  fullnameOverride: syncoor-server
  controllers:
    main:
      containers:
        main:
          image:
            repository: {{ default_tooling_images.syncoor_server.split(':') | first }}
            tag: {{ default_tooling_images.syncoor_server.split(':') | last }}
            pullPolicy: {% if "latest" in (default_tooling_images.syncoor_server.split(':') | last) or "master" in (default_tooling_images.syncoor_server.split(':') | last) %}Always{% else %}IfNotPresent{% endif %}

          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: 400m
              memory: 512Mi

  secrets:
    secretenv:
      enabled: true
      stringData:
        AUTH_TOKEN: "syncoor<path:/secrets/services/services.enc.yaml#ethereum | jsonPath {.testnets.{{ devnet_name }}-devnets.node_ingress.combined}>"

  ingress:
    main:
      className: ingress-nginx-public
      enabled: true
      hosts:
        - host: syncoor-api.{{ network_subdomain }}
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: http