# {{ ansible_managed }}

syncoor-web:
  fullnameOverride: syncoor-web
  controllers:
    main:
      containers:
        main:
          image:
            repository: {{ default_tooling_images.syncoor_web.split(':') | first }}
            tag: {{ default_tooling_images.syncoor_web.split(':') | last }}
            pullPolicy: {% if "latest" in (default_tooling_images.syncoor_web.split(':') | last) or "master" in (default_tooling_images.syncoor_web.split(':') | last) %}Always{% else %}IfNotPresent{% endif %}

          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 128Mi

  configMaps:
    config:
      enabled: true
      data:
        config.json: |
          {
            "directories": [
              {
                "name": "cl-full-checkpoint-sync",
                "displayName": "CL Fullnode + CL Checkpoint Sync",
                "url": "https://syncoor-data.{{ gen_kubernetes_domain }}/devnets/{{ ethereum_network_name }}"
              },
              {
                "name": "cl-super-checkpoint-sync",
                "displayName": "CL Supernode + CL Checkpoint Sync",
                "url": "https://syncoor-data.{{ gen_kubernetes_domain }}/devnets/{{ ethereum_network_name }}-clsupernode"
              },
              {
                "name": "cl-full-genesis-sync",
                "displayName": "CL Fullnode + CL Genesis Sync",
                "url": "https://syncoor-data.{{ gen_kubernetes_domain }}/devnets/{{ ethereum_network_name }}-clcheckpointsyncdisabled"
              },
              {
                "name": "cl-super-genesis-sync",
                "displayName": "CL Supernode + CL Genesis Sync",
                "url": "https://syncoor-data.{{ gen_kubernetes_domain }}/devnets/{{ ethereum_network_name }}-clsupernode-clcheckpointsyncdisabled"
              }
            ],
            "syncoorApiEndpoints": [
              {
                "name": "Syncoor",
                "url": "https://syncoor-api.{{ network_subdomain }}"
              }
            ]
          }

  ingress:
    main:
      className: ingress-nginx-public
      enabled: true
      hosts:
        - host: syncoor.{{ network_subdomain }}
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: http
