# {{ ansible_managed }}

tracoor-single:
  fullnameOverride: "tracoor"
  image:
    repository: {{ default_tooling_images.tracoor.split(':') | first }}
    tag: {{ default_tooling_images.tracoor.split(':') | last }}
    pullPolicy: {% if "latest" in (default_tooling_images.tracoor.split(':') | last) %}Always{% else %}IfNotPresent{% endif %}

  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 1000m
      memory: 2Gi
  ingress:
    http:
      enabled: true
      className: ingress-nginx-public
      hosts:
        - host: tracoor.{{ network_subdomain }}
          paths:
            - path: /
              pathType: Prefix

  config:
    shared:
      metricsAddr: ":9091"
      logging: "debug"
      indexer:
        address: localhost:8081
      store:
        type: s3
        config:
          region: us-east-1
          bucket_name: {{ devnet_name }}
          endpoint: https://<path:/secrets/services/services.enc.yaml#cloudflare | jsonPath {.account_ids.ethdevops}>.r2.cloudflarestorage.com/ethpandaops-devnet-dumpster
          prefer_urls: true
          access_key: <path:/secrets/services/services.enc.yaml#tracoor | jsonPath {.r2.devnets.access_key_id}>
          access_secret: <path:/secrets/services/services.enc.yaml#tracoor | jsonPath {.r2.devnets.secret_access_key}>

    server:
      addr: ":8081"
      gatewayAddr: ":8080"
      pprofAddr: ":6060"
      preStopSleepSeconds: 1
      ntpServer: time.google.com

      persistence:
        dsn: "file:/tmp/tracoor.db"
        driver_name: sqlite

      services:
        indexer:
          retention:
            beaconStates: 7d
            executionBlockTraces: 7d
            beaconBlocks: 7d

    agents:
{% for host in (groups['ethereum_node'] + groups['bootnode']) | sort %}
{% if ((hostvars[host]['inventory_hostname'] | string)[-2:]) == "-1" %}
      - name: {{ hostvars[host]['inventory_hostname'] }}
        ethereum:
          overrideNetworkName: {{ ethereum_network_name }}
          beacon:
            nodeAddress: https://<path:/secrets/services/services.enc.yaml#ethereum | jsonPath {.testnets.{{ devnet_name }}-devnets.node_ingress.combined}>@bn.{{ hostvars[host]['inventory_hostname'] }}.{{ network_subdomain }}
          execution:
            nodeAddress: https://<path:/secrets/services/services.enc.yaml#ethereum | jsonPath {.testnets.{{ devnet_name }}-devnets.node_ingress.combined}>@rpc.{{ hostvars[host]['inventory_hostname'] }}.{{ network_subdomain }}
            traceDisableMemory: true
            traceDisableStack: true
            traceDisableStorage: true
{% endif %}
{% endfor %}
