- name: Add besu user
  ansible.builtin.user:
    name: "{{ besu_user }}"
  register: besu_user_meta

- name: Create data dir
  ansible.builtin.file:
    path: "{{ besu_datadir }}"
    state: directory
    mode: "0750"
    owner: "{{ besu_user }}"
    group: "{{ besu_user }}"

- name: Set permissions
  ansible.builtin.command: "chown -R {{ besu_user }}:{{ besu_user }} {{ besu_datadir }}" # noqa no-free-form
  failed_when: false
  changed_when: false

- name: Run besu container
  community.docker.docker_container:
    name: "{{ besu_container_name }}"
    image: "{{ besu_container_image }}"
    image_name_mismatch: recreate
    state: started
    restart_policy: always
    stop_timeout: "{{ besu_container_stop_timeout }}"
    ports: "{{ besu_container_ports }}"
    volumes: "{{ besu_container_volumes }}"
    env: "{{ besu_container_env }}"
    networks: "{{ besu_container_networks }}"
    entrypoint: "{{ besu_container_entrypoint | default(omit) }}"
    command: "{{ besu_container_command + besu_container_command_extra_args }}"
    user: "{{ besu_user_meta.uid }}"
    pull: "{{ besu_container_pull | bool }}"
    security_opts: "{{ besu_container_security_opts }}"
    memory: "{{ besu_container_memory | default(omit) }}"
    memory_reservation: "{{ besu_container_memory_reservation | default(omit) }}"
    memory_swap: "{{ besu_container_memory_swap | default(omit) }}"
    memory_swappiness: "{{ besu_container_memory_swappiness | default(omit) }}"
    kernel_memory: "{{ besu_container_kernel_memory | default(omit) }}"
    cpus: "{{ besu_container_cpus | default(omit) }}"
    cpuset_cpus: "{{ besu_container_cpuset_cpus | default(omit) }}"
    cpuset_mems: "{{ besu_container_cpuset_mems | default(omit) }}"
    cpu_shares: "{{ besu_container_cpu_shares | default(omit) }}"
    cpu_quota: "{{ besu_container_cpu_quota | default(omit) }}"
    cpu_period: "{{ besu_container_cpu_period | default(omit) }}"
