ethereum_node_docker_network_name: shared
ethereum_node_skip_cleanup: false
ethereum_node_images_always_pull: false
ethereum_node_announced_ip: "{{ ansible_host }}"

# Execution layer client
ethereum_node_el: geth # Valid options: besu, geth, erigon, nethermind, ethereumjs, reth
ethereum_node_el_enabled: true
ethereum_node_el_ports_p2p_tcp: 30303
ethereum_node_el_ports_p2p_udp: 30303
ethereum_node_el_ports_http_rpc: 8545
ethereum_node_el_ports_engine: 8551
ethereum_node_el_ports_metrics: 6060

# Consensus layer client
ethereum_node_cl: lighthouse # Valid options: lighthouse, lodestar, teku, prysm
ethereum_node_cl_enabled: true
ethereum_node_cl_ports_p2p_tcp: 9000
ethereum_node_cl_ports_p2p_udp: 9000
ethereum_node_cl_ports_http_beacon: 5052
ethereum_node_cl_ports_metrics: 5054
ethereum_node_cl_checkpoint_sync_enabled: false

# Validator
ethereum_node_cl_validator_enabled: false
ethereum_node_cl_validator_fee_recipient: "0xF29Ff96aaEa6C9A1fBa851f74737f3c069d4f1a9" # theprotocolguild.eth

# Fact discovery
ethereum_node_fact_discovery_enabled: true

# Json RPC snooper
ethereum_node_json_rpc_snooper_enabled: false
ethereum_node_json_rpc_snooper_port: 8560
ethereum_node_json_rpc_snooper_name: "snooper-rpc"

ethereum_node_json_rpc_snooper_engine_enabled: false
ethereum_node_json_rpc_snooper_engine_port: 8561
ethereum_node_json_rpc_snooper_engine_name: "snooper-engine"

# Mev boost
ethereum_node_mev_boost_enabled: false

# Mev mock relay builder
ethereum_node_mev_mock_relay_builder_enabled: false

# Metrics exporter
ethereum_node_metrics_exporter_enabled: false

# Xatu sentry
ethereum_node_xatu_sentry_enabled: false

# Generated RPC/Engine/Beacon endpoints
ethereum_node_el_engine_endpoint: >-
  http://{{ vars[ethereum_node_el + '_container_name'] | default(ethereum_node_el) }}:{{ ethereum_node_el_ports_engine }}
ethereum_node_el_engine_snooper_endpoint: >-
  http://{{ ethereum_node_json_rpc_snooper_engine_name }}:{{ ethereum_node_json_rpc_snooper_engine_port }}
ethereum_node_el_rpc_endpoint: >-
  http://{{ vars[ethereum_node_el + '_container_name'] | default(ethereum_node_el) }}:{{ ethereum_node_el_ports_http_rpc }}
ethereum_node_el_rpc_snooper_endpoint: >-
  http://{{ ethereum_node_json_rpc_snooper_name }}:{{ ethereum_node_json_rpc_snooper_port }}
ethereum_node_cl_beacon_endpoint: >-
  http://{{ vars[ethereum_node_cl + '_container_name'] | default(ethereum_node_cl) }}:{{ ethereum_node_cl_ports_http_beacon }}
