- name: Add prysm user
  ansible.builtin.user:
    name: "{{ prysm_user }}"
  register: prysm_user_meta

- name: Configure prysm beacon client
  when: prysm_enabled
  block:
    - name: Create data dir
      ansible.builtin.file:
        path: "{{ prysm_datadir }}"
        state: directory
        mode: "0750"
        owner: "{{ prysm_user }}"
        group: "{{ prysm_user }}"

    - name: Set permissions
      ansible.builtin.command: "chown -R {{ prysm_user }}:{{ prysm_user }} {{ prysm_datadir }}" # noqa no-free-form
      changed_when: false

    - name: Run prysm container
      community.docker.docker_container:
        name: "{{ prysm_container_name }}"
        image: "{{ prysm_container_image }}"
        image_name_mismatch: recreate
        state: started
        restart_policy: always
        stop_timeout: "{{ prysm_container_stop_timeout }}"
        ports: "{{ prysm_container_ports }}"
        volumes: "{{ prysm_container_volumes }}"
        env: "{{ prysm_container_env }}"
        networks: "{{ prysm_container_networks }}"
        tty: "{{ prysm_container_tty }}"
        entrypoint: "{{ prysm_container_entrypoint }}"
        command: >-
          {{
            prysm_container_command +
            prysm_container_command_extra_args +
            (prysm_checkpoint_sync_enabled | ternary(prysm_container_command_checkpoint_args, [])) +
            (prysm_mev_boost_enabled | ternary(prysm_mev_boost_beacon_command, []))
          }}
        user: "{{ prysm_user_meta.uid }}"
        pull: "{{ prysm_container_pull | bool }}"
        security_opts: "{{ prysm_container_security_opts }}"


- name: Configure prysm beacon client
  when: prysm_validator_enabled
  block:
    - name: Create validator data dir
      ansible.builtin.file:
        path: "{{ prysm_validator_datadir }}"
        state: directory
        mode: "0750"
        owner: "{{ prysm_user }}"
        group: "{{ prysm_user }}"

    - name: Set permissions for validator data dir
      ansible.builtin.command: "chown -R {{ prysm_user }}:{{ prysm_user }} {{ prysm_validator_datadir }}" # noqa no-free-form
      changed_when: false

    - name: Run prysm validator container
      community.docker.docker_container:
        name: "{{ prysm_validator_container_name }}"
        image: "{{ prysm_validator_container_image }}"
        image_name_mismatch: recreate
        state: started
        restart_policy: always
        stop_timeout: "{{ prysm_validator_container_stop_timeout }}"
        ports: "{{ prysm_validator_container_ports }}"
        volumes: "{{ prysm_validator_container_volumes }}"
        env: "{{ prysm_validator_container_env }}"
        networks: "{{ prysm_validator_container_networks }}"
        tty: "{{ prysm_validator_container_tty }}"
        entrypoint: "{{ prysm_validator_container_entrypoint }}"
        command: >-
          {{
            prysm_validator_container_command +
            prysm_validator_container_command_extra_args +
            (prysm_mev_boost_enabled | ternary(prysm_mev_boost_validator_command, []))
          }}
        user: "{{ prysm_user_meta.uid }}"
        pull: "{{ prysm_container_pull | bool }}"
        security_opts: "{{ prysm_validator_container_security_opts }}"
