docker_nginx_proxy_user: nginx-proxy
docker_nginx_proxy_datadir: /opt/nginx-proxy
docker_nginx_proxy_default_email: "mail@yourdomain.tld"
docker_nginx_proxy_conf_tmpl: >-
  {{ lookup('ansible.builtin.url', 'https://raw.githubusercontent.com/nginx-proxy/nginx-proxy/main/nginx.tmpl', split_lines=False) }}

############################################################################
## Nginx
############################################################################
docker_nginx_proxy_container_image: nginx:alpine
docker_nginx_proxy_container_name: nginx-proxy
docker_nginx_proxy_container_published_ports: ["80:80", "443:443"]
docker_nginx_proxy_container_restart_policy: always
docker_nginx_proxy_container_networks_cli_compatible: true
docker_nginx_proxy_container_network_mode: default
docker_nginx_proxy_container_networks: []
docker_nginx_proxy_container_env: {}
docker_nginx_proxy_container_volumes_from: []
docker_nginx_proxy_container_volumes:
  - "{{ docker_nginx_proxy_datadir }}/conf:/etc/nginx/conf.d"
  - "{{ docker_nginx_proxy_datadir }}/vhost:/etc/nginx/vhost.d"
  - "{{ docker_nginx_proxy_datadir }}/certs:/etc/nginx/certs:ro"
  - html:/usr/share/nginx/html
docker_nginx_proxy_container_custom_config_files: {} # Will be added to /etc/nginx/conf.d/{key}
  # Example:
  # custom.conf: |
  #   # content of the custom.conf file
  #   client_max_body_size 100m;

docker_nginx_proxy_container_custom_vhost_files: {} # Will be added to /etc/nginx/vhost.d/{key}
  # Example for CORS:
  # example.org_location_override: |
  #   location / {
  #       if ($request_method = 'OPTIONS') {
  #           add_header 'Access-Control-Allow-Origin' '*';
  #           add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
  #           #
  #           # Custom headers and headers various browsers *should* be OK with but aren't
  #           #
  #           add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
  #           #
  #           # Tell client that this pre-flight info is valid for 20 days
  #           #
  #           add_header 'Access-Control-Max-Age' 1728000;
  #           add_header 'Content-Type' 'text/plain; charset=utf-8';
  #           add_header 'Content-Length' 0;
  #           return 204;
  #       }
  #       if ($request_method = 'POST') {
  #           add_header 'Access-Control-Allow-Origin' '*' always;
  #           add_header 'Access-Control-Expose-Headers' 'Content-Length,Content-Range' always;
  #       }
  #       if ($request_method = 'GET') {
  #           add_header 'Access-Control-Allow-Origin' '*' always;
  #           add_header 'Access-Control-Expose-Headers' 'Content-Length,Content-Range' always;
  #       }
  #       proxy_pass http://example.org;
  #       set $upstream_keepalive true;
  #   }
############################################################################
## Docker-gen
############################################################################
docker_nginx_proxy_docker_gen_container_image: nginxproxy/docker-gen
docker_nginx_proxy_docker_gen_container_name: nginx-proxy-gen
docker_nginx_proxy_docker_gen_container_command: >-
  -notify-sighup nginx-proxy
  -watch /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
docker_nginx_proxy_docker_gen_container_restart_policy: always
docker_nginx_proxy_docker_gen_container_networks_cli_compatible: true
docker_nginx_proxy_docker_gen_container_network_mode: default
docker_nginx_proxy_docker_gen_container_networks: []
docker_nginx_proxy_docker_gen_container_env: {}
docker_nginx_proxy_docker_gen_container_volumes_from:
  - "{{ docker_nginx_proxy_container_name }}"
docker_nginx_proxy_docker_gen_container_volumes:
  - "{{ docker_nginx_proxy_datadir }}/nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro"
  - /var/run/docker.sock:/tmp/docker.sock:ro

############################################################################
## ACME companion
############################################################################
docker_nginx_proxy_acme_companion_container_image: nginxproxy/acme-companion
docker_nginx_proxy_acme_companion_container_name: nginx-proxy-acme
docker_nginx_proxy_acme_companion_container_restart_policy: always
docker_nginx_proxy_acme_companion_container_networks_cli_compatible: true
docker_nginx_proxy_acme_companion_container_network_mode: default
docker_nginx_proxy_acme_companion_container_networks: []
docker_nginx_proxy_acme_companion_container_volumes_from:
  - "{{ docker_nginx_proxy_container_name }}"
docker_nginx_proxy_acme_companion_container_volumes:
  - "{{ docker_nginx_proxy_datadir }}/certs:/etc/nginx/certs:rw"
  - "{{ docker_nginx_proxy_datadir }}/acme:/etc/acme.sh"
  - /var/run/docker.sock:/var/run/docker.sock:ro
docker_nginx_proxy_acme_companion_container_env:
  DEFAULT_EMAIL: "{{ docker_nginx_proxy_default_email }}"
  NGINX_PROXY_CONTAINER: "{{ docker_nginx_proxy_container_name }}"
  NGINX_DOCKER_GEN_CONTAINER: "{{ docker_nginx_proxy_docker_gen_container_name }}"

############################################################################
## ACME retry monitor sidecontainer
############################################################################
docker_nginx_proxy_acme_monitor_enabled: true
docker_nginx_proxy_acme_monitor_container_image: alpine:latest
docker_nginx_proxy_acme_monitor_container_name: nginx-proxy-acme-monitor
docker_nginx_proxy_acme_monitor_container_restart_policy: always
docker_nginx_proxy_acme_monitor_container_networks_cli_compatible: true
docker_nginx_proxy_acme_monitor_container_network_mode: default
docker_nginx_proxy_acme_monitor_container_networks: []
docker_nginx_proxy_acme_monitor_wait_time: 900 # 15 minutes in seconds
docker_nginx_proxy_acme_monitor_container_volumes:
  - "{{ docker_nginx_proxy_datadir }}/certs:/etc/nginx/certs:rw"
  - "{{ docker_nginx_proxy_datadir }}/acme:/etc/acme.sh:rw"
  - /var/run/docker.sock:/var/run/docker.sock:rw
docker_nginx_proxy_acme_monitor_container_env:
  ACME_CONTAINER_NAME: "{{ docker_nginx_proxy_acme_companion_container_name }}"
  WAIT_TIME: "{{ docker_nginx_proxy_acme_monitor_wait_time | string }}"
