blobber_user: blobber

blobber_cleanup: false # when set to "true" it will remove the container(s)

################################################################################
##
## blobber container configuration
##
################################################################################
blobber_container_name: blobber
blobber_container_image: parithoshj/blobber:v0.0.1
blobber_container_env: {}
blobber_log_level: info

# Network configs
blobber_p2p_port: 20100
blobber_announced_ip: "{{ ansible_host }}"
blobber_api_listen_port: 20000
blobber_container_ports:
  - "{{ blobber_p2p_port }}:{{ blobber_p2p_port }}"
  - "{{ blobber_p2p_port }}:{{ blobber_p2p_port }}/udp"
  - "127.0.0.1:{{ blobber_api_listen_port }}:{{ blobber_api_listen_port }}"
blobber_container_networks: []

# Storage configs
# The val key folder should hold keys/secrets subfolders in the same manner we do for validators
# A suggestion is to use https://github.com/protolambda/eth2-val-tools to generate the keys
# Set blobber_validator_local_key_folder to "{{ ansible_inventory_sources[0] | dirname }}/files/validator_keys/{{ inventory_hostname }}" for devnets
blobber_validator_local_key_folder: /local/path/to/keys
blobber_validator_remote_key_folder: "{{ blobber_datadir }}/validators"
blobber_datadir: /data/blobber

blobber_container_volumes:
  - "{{ blobber_datadir }}:/data"

# Blobber specific configs
blobber_beacon_api: beacon:5052
blobber_slot_actions: []
blobber_slot_action_frequency: 1

blobber_container_command:
  - "./blobber"
  - "--cl={{ blobber_beacon_api | replace('http://', '') }}"
  - "--beacon-port-start={{ blobber_p2p_port }}"
  - "--log-level={{ blobber_log_level }}"
  - "--external-ip={{ blobber_announced_ip }}"
  - "--validator-proxy-port-start={{ blobber_api_listen_port }}"
  - "--slot-action={{ blobber_slot_actions | to_json }}"
  - "--slot-action-frequency={{ blobber_slot_action_frequency }}"
  - "--validator-key-folder=/data/validators"

blobber_container_command_extra_args: []

# Default image pull policy
blobber_container_pull: false
