- name: Add nethermind user
  ansible.builtin.user:
    name: "{{ nethermind_user }}"
  register: nethermind_user_meta

- name: Create data dir
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0750"
    owner: "{{ nethermind_user }}"
    group: "{{ nethermind_user }}"
  loop:
    - "{{ nethermind_datadir }}"
    - "{{ nethermind_datadir }}/nethermind"

- name: Set permissions
  ansible.builtin.command: "chown -R {{ nethermind_user }}:{{ nethermind_user }} {{ nethermind_datadir }}" # noqa no-free-form
  changed_when: false

- name: Run nethermind container
  community.docker.docker_container:
    name: "{{ nethermind_container_name }}"
    image: "{{ nethermind_container_image }}"
    image_name_mismatch: recreate
    state: started
    restart_policy: always
    stop_timeout: "{{ nethermind_container_stop_timeout }}"
    ports: "{{ nethermind_container_ports }}"
    volumes: "{{ nethermind_container_volumes }}"
    env: "{{ nethermind_container_env }}"
    networks: "{{ nethermind_container_networks }}"
    entrypoint: "{{ nethermind_container_entrypoint }} "
    command: "{{ nethermind_container_command + nethermind_container_command_extra_args }} "
    user: "{{ nethermind_user_meta.uid }}"
    working_dir: "{{ nethermind_datadir }}"
    pull: "{{ nethermind_container_pull | bool }}"
    security_opts: "{{ nethermind_container_security_opts }}"
