- name: Add nethermind user
  ansible.builtin.user:
    name: "{{ nethermind_user }}"
  register: nethermind_user_meta

- name: Create data dir
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0750"
    owner: "{{ nethermind_user }}"
    group: "{{ nethermind_user }}"
  loop:
    - "{{ nethermind_datadir }}"
    - "{{ nethermind_datadir }}/nethermind"

- name: Set permissions
  ansible.builtin.command: "chown -R {{ nethermind_user }}:{{ nethermind_user }} {{ nethermind_datadir }}" # noqa no-free-form
  failed_when: false
  changed_when: false

- name: Run nethermind container
  community.docker.docker_container:
    name: "{{ nethermind_container_name }}"
    image: "{{ nethermind_container_image }}"
    image_name_mismatch: recreate
    state: started
    restart_policy: always
    stop_timeout: "{{ nethermind_container_stop_timeout }}"
    ports: "{{ nethermind_container_ports }}"
    volumes: "{{ nethermind_container_volumes }}"
    env: "{{ nethermind_container_env }}"
    networks: "{{ nethermind_container_networks }}"
    entrypoint: "{{ nethermind_container_entrypoint }} "
    command: "{{ nethermind_container_command + nethermind_container_command_extra_args }} "
    user: "{{ nethermind_user_meta.uid }}"
    working_dir: "{{ nethermind_datadir }}"
    pull: "{{ nethermind_container_pull | bool }}"
    security_opts: "{{ nethermind_container_security_opts }}"
    memory: "{{ nethermind_container_memory | default(omit) }}"
    memory_reservation: "{{ nethermind_container_memory_reservation | default(omit) }}"
    memory_swap: "{{ nethermind_container_memory_swap | default(omit) }}"
    memory_swappiness: "{{ nethermind_container_memory_swappiness | default(omit) }}"
    kernel_memory: "{{ nethermind_container_kernel_memory | default(omit) }}"
    cpus: "{{ nethermind_container_cpus | default(omit) }}"
    cpuset_cpus: "{{ nethermind_container_cpuset_cpus | default(omit) }}"
    cpuset_mems: "{{ nethermind_container_cpuset_mems | default(omit) }}"
    cpu_shares: "{{ nethermind_container_cpu_shares | default(omit) }}"
    cpu_quota: "{{ nethermind_container_cpu_quota | default(omit) }}"
    cpu_period: "{{ nethermind_container_cpu_period | default(omit) }}"
