prysm_enabled: true
prysm_user: prysm
prysm_datadir: /data/prysm
prysm_auth_jwt_path: /data/execution-auth.secret
prysm_execution_engine_endpoint: http://geth:8551
prysm_beacon_endpoint: "{{ prysm_container_name }}:{{ prysm_ports_grpc }}"
prysm_announced_ip: "{{ ansible_host }}"
prysm_announced_ipv6: "{{ ansible_default_ipv6.address if prysm_ipv6_enabled and ansible_default_ipv6.address is defined else '' }}"
prysm_mev_boost_endpoint: "http://mev-boost:18550"

prysm_cleanup: false # when set to "true" it will remove the container(s)

prysm_ports_p2p_tcp: 13000
prysm_ports_p2p_udp: 12000
prysm_ports_http_beacon: 3500
prysm_ports_metrics: 8080
prysm_ports_grpc: 4000

prysm_ipv6_enabled: false
prysm_supernode_enabled: false

prysm_validator_enabled: false
prysm_validator_fee_recipient: "0x25941dC771bB64514Fc8abBce970307Fb9d477e9" # theprotocolguild.eth
prysm_validator_datadir: /data/prysm-validator

################################################################################
##
## Beacon node container configuration
##
################################################################################
prysm_container_name: prysm
prysm_container_image: gcr.io/prysmaticlabs/prysm/beacon-chain:stable
prysm_container_env: {}
prysm_container_ports_ipv4:
  - "127.0.0.1:{{ prysm_ports_http_beacon }}:{{ prysm_ports_http_beacon }}"
  - "0.0.0.0:{{ prysm_ports_p2p_tcp }}:{{ prysm_ports_p2p_tcp }}"
  - "0.0.0.0:{{ prysm_ports_p2p_udp }}:{{ prysm_ports_p2p_udp }}/udp"

prysm_container_ports_ipv6:
  - "[::]:{{ prysm_ports_p2p_tcp }}:{{ prysm_ports_p2p_tcp }}"
  - "[::]:{{ prysm_ports_p2p_udp }}:{{ prysm_ports_p2p_udp }}/udp"

prysm_container_ports: >-
  {{ prysm_container_ports_ipv4 + (prysm_container_ports_ipv6 if prysm_ipv6_enabled and ansible_default_ipv6.address is defined else []) }}

prysm_container_volumes:
  - "{{ prysm_datadir }}:/data"
  - "{{ prysm_auth_jwt_path }}:/execution-auth.jwt:ro"
prysm_container_security_opts: []
prysm_container_stop_timeout: "300"
prysm_container_networks: []
prysm_container_tty: false
prysm_container_entrypoint:
  - /app/cmd/beacon-chain/beacon-chain
prysm_container_command_default:
  - --accept-terms-of-use=true
  - --datadir=/data
  - --p2p-host-ip={{ prysm_announced_ip }}
  - --p2p-tcp-port={{ prysm_ports_p2p_tcp }}
  - --p2p-udp-port={{ prysm_ports_p2p_udp }}
  - --rpc-host=0.0.0.0
  - --rpc-port={{ prysm_ports_grpc }}
  - --jwt-secret=/execution-auth.jwt
  - --execution-endpoint={{ prysm_execution_engine_endpoint }}
  - --http-host=0.0.0.0
  - --http-port={{ prysm_ports_http_beacon }}
  - --monitoring-host=0.0.0.0
  - --monitoring-port={{ prysm_ports_metrics }}

prysm_container_command_v6: []
  # - --p2p-host-ipv6={{ prysm_announced_ipv6 }} # not supported yet

prysm_container_supernode_command:
  - --subscribe-all-subnets

prysm_container_command: >-
  {{
    prysm_container_command_default +
    (prysm_container_command_v6 if prysm_ipv6_enabled and ansible_default_ipv6.address is defined else []) +
    (prysm_container_supernode_command if prysm_supernode_enabled else [])
  }}

prysm_container_command_extra_args: []

checkpoint_sync_url: https://beaconstate.ethstaker.cc # noqa var-naming[no-role-prefix]
prysm_checkpoint_sync_enabled: true
prysm_container_command_checkpoint_args:
  - --checkpoint-sync-url={{ checkpoint_sync_url }}
  - --genesis-beacon-api-url={{ checkpoint_sync_url }}

################################################################################
##
## Validator container configuration
##
################################################################################
prysm_validator_container_name: "{{ prysm_container_name }}-validator"
prysm_validator_container_image: "gcr.io/prysmaticlabs/prysm/validator:stable"
prysm_validator_container_env: {}
prysm_validator_container_ports: []
prysm_validator_container_volumes:
  - "{{ prysm_validator_datadir }}:/validator-data"
prysm_validator_container_security_opts: []
prysm_validator_container_stop_timeout: "300"
prysm_validator_container_networks: []
prysm_validator_container_tty: false
prysm_validator_container_entrypoint:
  - /app/cmd/validator/validator
prysm_validator_container_command:
  - --accept-terms-of-use=true
  - --datadir=/validator-data
  - --wallet-dir=/validator-data/wallet
  - --wallet-password-file=/validator-data/wallet_pass.txt
  - --beacon-rpc-provider={{ prysm_beacon_endpoint | replace('http://', '') }}
  - --suggested-fee-recipient={{ prysm_validator_fee_recipient }}
  - --monitoring-host=0.0.0.0
  - --monitoring-port={{ prysm_ports_metrics }}

prysm_validator_container_command_extra_args: []
  # - --graffiti=hello-world

# Default image pull policy
prysm_container_pull: false

################################################################################
##
## MEV Boost configuration
##
################################################################################
prysm_mev_boost_enabled: false
prysm_mev_boost_beacon_command:
  - --http-mev-relay={{ prysm_mev_boost_endpoint }}

prysm_mev_boost_validator_command:
  - --enable-builder
