# {{ ansible_managed }}
[Unit]
Description=Bridge Chaos Mesh iptables chains into Docker traffic path
After=network-online.target docker.service
Wants=network-online.target docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/chaos-iptables-bridge.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target