[Unit]
Description=Chaosd fault-injection service
After=network.target

[Service]
Type=simple
ExecStart={{ chaosd_install_dir }}/chaosd server --port {{ chaosd_port }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
