- name: Add reth user
  ansible.builtin.user:
    name: "{{ reth_user }}"
  register: reth_user_meta

- name: Create data dir
  ansible.builtin.file:
    path: "{{ reth_datadir }}"
    state: directory
    mode: "0750"
    owner: "{{ reth_user }}"
    group: "{{ reth_user }}"

- name: Set permissions
  ansible.builtin.command: "chown -R {{ reth_user }}:{{ reth_user }} {{ reth_datadir }}" # noqa no-free-form
  failed_when: false
  changed_when: false

- name: Create rbuilder config file
  ansible.builtin.copy:
    dest: "{{ reth_rbuilder_config_path }}"
    content: "{{ reth_rbuilder_config }}"
    mode: "0640"
    owner: "{{ reth_user }}"
    group: "{{ reth_user }}"
  when: reth_rbuilder_enabled
  notify: Restart reth container

- name: Run reth container
  community.docker.docker_container:
    name: "{{ reth_container_name }}"
    image: "{{ reth_container_image }}"
    image_name_mismatch: recreate
    state: started
    restart_policy: always
    stop_timeout: "{{ reth_container_stop_timeout }}"
    ports: "{{ reth_container_ports }}"
    volumes: >-
      {{
        reth_container_volumes +
        (reth_rbuilder_enabled | ternary(reth_rbuilder_container_volumes, []))
      }}
    env: "{{ reth_container_env }}"
    networks: "{{ reth_container_networks }}"
    entrypoint: "{{ reth_container_entrypoint | default(omit) }}"
    command: >-
      {{
        reth_container_command + reth_container_command_extra_args +
        (reth_rbuilder_enabled | ternary(reth_rbuilder_container_args, []))
      }}
    user: "{{ reth_user_meta.uid }}"
    pull: "{{ reth_container_pull | bool }}"
    security_opts: "{{ reth_container_security_opts }}"
    memory: "{{ reth_container_memory | default(omit) }}"
    memory_reservation: "{{ reth_container_memory_reservation | default(omit) }}"
    memory_swap: "{{ reth_container_memory_swap | default(omit) }}"
    memory_swappiness: "{{ reth_container_memory_swappiness | default(omit) }}"
    kernel_memory: "{{ reth_container_kernel_memory | default(omit) }}"
    cpus: "{{ reth_container_cpus | default(omit) }}"
    cpuset_cpus: "{{ reth_container_cpuset_cpus | default(omit) }}"
    cpuset_mems: "{{ reth_container_cpuset_mems | default(omit) }}"
    cpu_shares: "{{ reth_container_cpu_shares | default(omit) }}"
    cpu_quota: "{{ reth_container_cpu_quota | default(omit) }}"
    cpu_period: "{{ reth_container_cpu_period | default(omit) }}"
