---
k3s_version: v1.26.0+k3s1
k3s_node_type: agent # can be "agent" or "server"
k3s_systemd_dir: /etc/systemd/system
k3s_server_location: /var/lib/rancher/k3s
k3s_server_ip: "{{ hostvars[groups['k3s_server'][0]]['ansible_host'] | default(groups['k3s_server'][0]) }}"
k3s_server_extra_args: >-
  --node-external-ip={{ ansible_host }}
k3s_agent_extra_args: >-
  --node-external-ip={{ ansible_host }}

# --flannel-iface=wg0

# On an agent node:
# --node-ip={{ wg0_ip_addr }}
#


# Enable this if you want to cleanup and uninstall the k3s service on the host
k3s_cleanup: false
# Enable this if you also want to remove the persisten volumes created by the "local-path" storage class
k3s_cleanup_localpath_persisten_volumes: false
# Enable this if you want to install calico
# https://docs.tigera.io/calico/latest/getting-started/kubernetes/k3s/multi-node-install#install-calico
# NOTE: enabling this will add the following args to the k3s server node:
#   --flannel-backend=none
#   --disable-network-policy
k3s_calico: false
k3s_calico_version: "v3.27.0"
# Change this if you want to use a different version of calico custom resources.
# The default calico custom resources will be used when this is omitted.
# https://docs.tigera.io/calico/latest/getting-started/kubernetes/k3s/multi-node-install#install-calico
# k3s_calico_custom_resources: |
#   apiVersion: operator.tigera.io/v1
#   kind: Installation
#   metadata:
#     name: default
#   spec:
#     # Configures Calico networking.
#     calicoNetwork:
#       # Note: The ipPools section cannot be modified post-install.
#       ipPools:
#       - blockSize: 26
#         cidr: 192.168.0.0/16
#         encapsulation: IPIP
#         natOutgoing: Enabled
#         nodeSelector: all()
#   ---
#   apiVersion: operator.tigera.io/v1
#   kind: APIServer
#   metadata:
#     name: default
#   spec: {}
