teku_user: teku
teku_datadir: /data/teku
teku_auth_jwt_path: /data/execution-auth.secret
teku_execution_engine_endpoint: http://geth:8551
teku_announced_ip: "{{ ansible_host }}"

teku_cleanup: false # when set to "true" it will remove the container

teku_ports_p2p_tcp: 9000
teku_ports_p2p_udp: 9000
teku_ports_http_beacon: 5051
teku_ports_metrics: 8008

teku_validator_enabled: false
teku_validator_fee_recipient: "0xF29Ff96aaEa6C9A1fBa851f74737f3c069d4f1a9" # theprotocolguild.eth
teku_validator_datadir: /data/teku-validator

################################################################################
##
## Beacon node container configuration
##
################################################################################
teku_container_name: teku
teku_container_image: consensys/teku:latest
teku_container_env: {}
teku_container_ports:
  - "127.0.0.1:{{ teku_ports_http_beacon }}:{{ teku_ports_http_beacon }}"
  - "{{ teku_ports_p2p_tcp }}:{{ teku_ports_p2p_tcp }}"
  - "{{ teku_ports_p2p_udp }}:{{ teku_ports_p2p_udp }}/udp"
teku_container_volumes:
  - "{{ teku_datadir }}:/data"
  - "{{ teku_auth_jwt_path }}:/execution-auth.jwt:ro"
teku_container_security_opts: []
teku_container_stop_timeout: "300"
teku_container_networks: []
teku_container_command:
  - --data-path=/data
  - --log-destination=CONSOLE
  - --p2p-enabled=true
  - --p2p-interface=0.0.0.0
  - --p2p-advertised-ip={{ teku_announced_ip }}
  - --p2p-port={{ teku_ports_p2p_tcp }}
  - --p2p-advertised-port={{ teku_ports_p2p_udp }}
  - --rest-api-enabled
  - --rest-api-interface=0.0.0.0
  - --rest-api-port={{ teku_ports_http_beacon }}
  - --rest-api-host-allowlist=*
  - --ee-endpoint={{ teku_execution_engine_endpoint }}
  - --ee-jwt-secret-file=/execution-auth.jwt
  - --metrics-enabled=true
  - --metrics-interface=0.0.0.0
  - --metrics-port={{ teku_ports_metrics }}
  - --metrics-host-allowlist=*
teku_container_command_extra_args:
  - --data-storage-mode=PRUNE
# - --network=mainnet
# - --logging=INFO
# - ---validators-graffiti=hello-world

checkpoint_sync_url: https://beaconstate.ethstaker.cc
teku_checkpoint_sync_enabled: false
teku_container_command_checkpoint_args: --initial-state={{ checkpoint_sync_url }}/eth/v2/debug/beacon/states/finalized

################################################################################
##
## Validator specific configuration
##
################################################################################
teku_container_validator_args:
  - --validator-keys=/validator-data/keys:/validator-data/secrets
  - --validators-proposer-default-fee-recipient={{ teku_validator_fee_recipient }}
  - --validators-keystore-locking-enabled=false
teku_container_validator_volumes:
  - "{{ teku_validator_datadir }}:/validator-data"

# Default image pull policy
teku_container_pull: false
