erigon_user: erigon
erigon_datadir: /data/erigon
erigon_auth_jwt_path: /data/execution-auth.secret
erigon_announced_ip: "{{ ansible_host }}"
erigon_announced_ipv6: "{{ ansible_default_ipv6.address if erigon_ipv6_enabled and ansible_default_ipv6.address is defined else '' }}"

erigon_cleanup: false # when set to "true" it will remove the container

erigon_ports_p2p: 30303
erigon_ports_http_rpc: 8545
erigon_ports_engine: 8551
erigon_ports_metrics: 6060

erigon_ipv6_enabled: false

erigon_container_name: erigon
erigon_container_image: erigontech/erigon:latest
erigon_container_env: {}
erigon_container_ports_ipv4:
  - "127.0.0.1:{{ erigon_ports_engine }}:{{ erigon_ports_engine }}"
  - "127.0.0.1:{{ erigon_ports_http_rpc }}:{{ erigon_ports_http_rpc }}"
  - "0.0.0.0:{{ erigon_ports_p2p }}:{{ erigon_ports_p2p }}"
  - "0.0.0.0:{{ erigon_ports_p2p }}:{{ erigon_ports_p2p }}/udp"

erigon_container_ports_ipv6:
  - "[::]:{{ erigon_ports_p2p }}:{{ erigon_ports_p2p }}"
  - "[::]:{{ erigon_ports_p2p }}:{{ erigon_ports_p2p }}/udp"

erigon_container_ports: >-
  {{ erigon_container_ports_ipv4 + (erigon_container_ports_ipv6 if erigon_ipv6_enabled and ansible_default_ipv6.address is defined else []) }}

erigon_container_volumes:
  - "{{ erigon_datadir }}:/data"
  - "{{ erigon_auth_jwt_path }}:/execution-auth.jwt:ro"
erigon_container_security_opts: []
erigon_container_stop_timeout: "300"
erigon_container_networks: []
erigon_container_entrypoint:
  - erigon
erigon_container_command_default:
  - --datadir=/data
  - --nat=extip:{{ erigon_announced_ip }}
  - --port={{ erigon_ports_p2p }}
  - --http
  - --http.addr=0.0.0.0
  - --http.port={{ erigon_ports_http_rpc }}
  - --authrpc.jwtsecret=/execution-auth.jwt
  - --authrpc.addr=0.0.0.0
  - --authrpc.port={{ erigon_ports_engine }}
  - --authrpc.vhosts=*
  - --metrics
  - --metrics.addr=0.0.0.0
  - --metrics.port={{ erigon_ports_metrics }}

erigon_container_command_v6:
  - --nat=extip:{{ erigon_announced_ipv6 }}

erigon_container_command: >-
  {{ erigon_container_command_default + (erigon_container_command_v6 if erigon_ipv6_enabled and ansible_default_ipv6.address is defined else []) }}

erigon_container_command_extra_args: []
#  - --prune=htc


# Only required changing when running custom networks
erigon_init_custom_network: false
erigon_init_autoremove_enabled: false
erigon_init_custom_network_genesis_file: /config/genesis.json
erigon_init_custom_network_container_env: {}
erigon_init_custom_network_container_volumes:
  - "{{ erigon_datadir }}:/data"
  - "{{ erigon_init_custom_network_genesis_file }}:/genesis.json:ro"
erigon_init_custom_network_container_entrypoint:
  - erigon
erigon_init_custom_network_container_command:
  - --datadir=/data
  - init
  - /genesis.json

# Default image pull policy
erigon_container_pull: false
