- name: Setup json_rpc_snooper on EL engine
  ansible.builtin.include_role:
    name: ethpandaops.general.json_rpc_snooper
  vars:
    json_rpc_snooper_container_networks: "{{ ethereum_node_docker_networks }}"
    json_rpc_snooper_container_name: "{{ ethereum_node_json_rpc_snooper_engine_name }}"
    json_rpc_snooper_port: "{{ ethereum_node_json_rpc_snooper_engine_port }}"
    json_rpc_snooper_target: "{{ ethereum_node_el_engine_endpoint }}"
  when: ethereum_node_json_rpc_snooper_engine_enabled

- name: Setup json_rpc_snooper on EL rpc
  ansible.builtin.include_role:
    name: ethpandaops.general.json_rpc_snooper
  vars:
    json_rpc_snooper_container_networks: "{{ ethereum_node_docker_networks }}"
    json_rpc_snooper_container_name: "{{ ethereum_node_json_rpc_snooper_name }}"
    json_rpc_snooper_port: "{{ ethereum_node_json_rpc_snooper_port }}"
    json_rpc_snooper_target: "{{ ethereum_node_el_rpc_endpoint }}"
  when: ethereum_node_json_rpc_snooper_enabled

- name: Cleanup json_rpc_snooper on EL engine
  ansible.builtin.include_role:
    name: ethpandaops.general.json_rpc_snooper
  vars:
    json_rpc_snooper_cleanup: true
    json_rpc_snooper_container_name: "{{ ethereum_node_json_rpc_snooper_engine_name }}"
  when: not ethereum_node_json_rpc_snooper_engine_enabled

- name: Cleanup json_rpc_snooper on EL rpc
  ansible.builtin.include_role:
    name: ethpandaops.general.json_rpc_snooper
  vars:
    json_rpc_snooper_cleanup: true
    json_rpc_snooper_container_name: "{{ ethereum_node_json_rpc_snooper_name }}"
  when: not ethereum_node_json_rpc_snooper_enabled
