name: Integration (ethereum_node scheduled/manual)
on:
  workflow_dispatch:
  schedule:
    - cron: '0 7 * * *'

concurrency:
  group: >-
    ethereum-node-scheduled

defaults:
  run:
    working-directory: ansible_collections/ethpandaops/general

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        consensus: [teku, prysm, lighthouse, nimbus, lodestar, grandine]
        execution: [geth, nethermind, erigon, besu, ethereumjs, reth, nimbusel]
    runs-on: self-hosted-ghr-size-m-x64
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          path: ansible_collections/ethpandaops/general

      - uses: ./ansible_collections/ethpandaops/general/.github/actions/setup

      - name: Run molecule
        working-directory: ansible_collections/ethpandaops/general/roles/ethereum_node
        run: molecule test
        env:
          PY_COLORS: '1'
          EXECUTION_CLIENT: ${{ matrix.execution }}
          CONSENSUS_CLIENT: ${{ matrix.consensus }}
  notify:
    name: Discord Notification
    runs-on: ubuntu-latest
    needs:
      - test
    if: cancelled() || failure()
    steps:
      - name: Notify
        uses: nobrayner/discord-webhook@2f38abc8877c7e8d2b0ded0cfd9599632014279f # 2f38abc
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          discord-webhook: ${{ secrets.DISCORD_WEBHOOK }}
