name: Integration
on:
  pull_request:
  push:
    branches:
      - master

defaults:
  run:
    working-directory: ansible_collections/ethpandaops/general

jobs:
  # Job for change detection
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      roles: ${{ steps.filter.outputs.changes }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            blockscout: roles/blockscout/**
            bootstrap: roles/bootstrap/**
            mev_boost: roles/mev_boost/**
            mev_rs: roles/mev_rs/**
            hive: roles/hive/**

  # Integration test using molecule
  job:
    needs: changes
    concurrency:
      group: ${{ github.head_ref }}-${{ matrix.role }}
      cancel-in-progress: true
    if: ${{ needs.changes.outputs.roles != '' && toJson(fromJson(needs.changes.outputs.roles)) != '[]' }}
    strategy:
      matrix:
        role: ${{ fromJSON(needs.changes.outputs.roles) }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          path: ansible_collections/ethpandaops/general

      - uses: ./ansible_collections/ethpandaops/general/.github/actions/setup

      - uses: ethpandaops/actions/docker-login@main
        with:
          username: ethpandaops
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Run molecule
        working-directory: ansible_collections/ethpandaops/general/roles/${{ matrix.role }}
        run: molecule test
        env:
          PY_COLORS: '1'
