name: Lint
on:
  pull_request:
  push:
    branches:
      - master

env:
  PY_COLORS: '1'

defaults:
  run:
    working-directory: ansible_collections/ethpandaops/general

jobs:

  job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          path: ansible_collections/ethpandaops/general

      - uses: ./ansible_collections/ethpandaops/general/.github/actions/setup

      - name: Lint
        run: make lint
