- name: Add erigon user
  ansible.builtin.user:
    name: "{{ erigon_user }}"
  register: erigon_user_meta

- name: Create data dir
  ansible.builtin.file:
    path: "{{ erigon_datadir }}"
    state: directory
    mode: "0750"
    owner: "{{ erigon_user }}"
    group: "{{ erigon_user }}"

- name: Set permissions
  ansible.builtin.command: "chown -R {{ erigon_user }}:{{ erigon_user }} {{ erigon_datadir }}" # noqa no-free-form
  changed_when: false

- name: Init custom network
  when: erigon_init_custom_network
  block:
    - name: Check for empty chaindata dir
      ansible.builtin.stat:
        path: "{{ erigon_datadir }}/chaindata"
      register: erigon_init_custom_network_chaindata_stat
    - name: Chaindata is empty, run erigon init container
      community.docker.docker_container:
        name: "{{ erigon_container_name }}-init"
        image: "{{ erigon_container_image }}"
        image_name_mismatch: recreate
        detach: false
        auto_remove: "{{ erigon_init_autoremove_enabled }}"
        restart_policy: "no"
        state: started
        volumes: "{{ erigon_init_custom_network_container_volumes }}"
        env: "{{ erigon_init_custom_network_container_env }}"
        networks: "{{ erigon_container_networks }}"
        entrypoint: "{{ erigon_init_custom_network_container_entrypoint }}"
        command: "{{ erigon_init_custom_network_container_command }}"
        user: "{{ erigon_user_meta.uid }}"
        pull: "{{ erigon_container_pull | bool }}"
        security_opts: "{{ erigon_container_security_opts }}"

      when: not erigon_init_custom_network_chaindata_stat.stat.exists

- name: Run erigon container
  community.docker.docker_container:
    name: "{{ erigon_container_name }}"
    image: "{{ erigon_container_image }}"
    image_name_mismatch: recreate
    state: started
    restart_policy: always
    stop_timeout: "{{ erigon_container_stop_timeout }}"
    ports: "{{ erigon_container_ports }}"
    volumes: "{{ erigon_container_volumes }}"
    env: "{{ erigon_container_env }}"
    networks: "{{ erigon_container_networks }}"
    entrypoint: "{{ erigon_container_entrypoint | default(omit) }}"
    command: "{{ erigon_container_command + erigon_container_command_extra_args }}"
    user: "{{ erigon_user_meta.uid }}"
    pull: "{{ erigon_container_pull | bool }}"
    security_opts: "{{ erigon_container_security_opts }}"
